<div class="block-support">
  <div class="block-support--inner">
    <div class="support-image">
      <i class="icon icon-icn_25computerquestion"></i>
    </div>
    <div class="support-text">
      <p>{{i18n 'ahwaa.block_support.need_help'}}</p>
    </div>
    <div>
      {{#if currentUser}}
        <button class="widget-button btn-flat btn btn-grey btn-text" {{action 'sendSupportMessage'}}>
          <span class="d-button-label">
            {{i18n 'ahwaa.block_support.cta'}}
          </span>
        </button>
      {{else}}
        <a class="btn btn-grey" href={{mailtoUrl}}>
          {{i18n 'ahwaa.block_support.cta'}}
        </a>
      {{/if}}
    </div>
  </div>
</div>
