.user-table .messages .list-actions {
  align-items: stretch;
  background: rgba(color("catskill-white"), 0.2);
  border-radius: 3px;
  border: 1px solid color("lavander");
  display: flex;
  height: 50px;
  margin-bottom: 21px;
  padding: 0 8px;
  width: 100%;

  > .btn {
    background: transparent;
    border-right: 1px solid color("lavander");
    margin: 0;

    &:hover {
      color: inherit;
      opacity: 0.65;
    }
  }

  > .single-select {
    align-self: center;

    button {
      background: transparent;
      margin: 0;
      padding: 6px 12px;

      &:hover {
        &,
        .d-icon {
          color: inherit;
          opacity: 0.65;
        }
      }
    }
  }
}
