.main-nav.nav.nav-pills.user-nav {
  $border-color: color("lavander");
  $margin-between-tabs: 38px;
  // cause the tabs will stack over reduced screens and it won't find the right effect
  border-bottom: none;

  li {
    margin: 0;

    & + li {
      margin-left: $margin-between-tabs;
    }
  }

  @media (min-width: grid("md")) {
    border-bottom: 1px solid $border-color;
  }

  @media (max-width: grid("mobile-max-width")) {
    li {
      & + li {
        margin-left: $margin-between-tabs/2;
      }
    }
  }
}
