.user-table .user-navigation {
  $nav-items-pad: 10px;
  $nav-items-space: 35px;
  $active-color: color("free-speech-blue");
  $default-color: color("mulled-wine");

  .nav-stacked {
    margin-bottom: 0;
    margin-top: -($nav-items-pad);
    margin-left: -($nav-items-pad);

    a {
      @include med;
      font-size: 16px;
      color: $default-color;
      padding: $nav-items-pad;
      margin-bottom: ($nav-items-space - ($nav-items-pad * 2));

      &.active {
        color: $active-color;
      }
    }

    .d-icon {
      display: none;
    }
  }

  .btn,
  button {
    max-width: 80%;
  }

  .btn.new-private-message {
    padding: 10px;
  }
}
