%basic-user-listing {
  ul {
    list-style: none;
    margin: 0;

    li {
      border-left: 0;
      height: auto;
      margin: 0 0 15px;
      padding: 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.replies-section,
.summary-user-list,
.topics-section {
  @extend %basic-user-listing;
}
