.user-table {
  $navigation-width: 190px;

  .user-right,
  .user-navigation {
    display: flex;
    flex-direction: column;
  }

  // there are some Discourse styles that force us to define the width in this element in this way
  .user-navigation,
  .user-navigation ul {
    max-width: 100%;
    width: $navigation-width;
  }

  .user-right {
    width: calc(100% - #{$navigation-width});
  }

  // NOTE: there is a bug that some topic list items outside this context show the checkbox when the bulked is enabled
  // as it is also happen within Discourse app, we will fix this using CSS for simplicity
  .paginated-topics-list .bulk-select {
    display: none;
  }
}
