@mixin make-stats-section-stick-to-edges($negative-space, $stats-gutter) {
  ul li + li {
    margin-left: $stats-gutter;
  }

  ul li:first-of-type::before,
  ul li:last-of-type::after {
    content: "";
    display: block;
    height: 0px;
    width: calc(((#{$negative-space}) / 2) - ((#{$stats-gutter}) / 2));
  }
}

.stats-title {
  @include med;
  color: color("mulled-wine");
  font-size: 18px;
  margin-bottom: 26px;
  text-transform: capitalize;
}

.listings {
  a.more {
    @include med;
    color: color("mulled-wine");
    display: block;
    font-size: 14px;
    margin-top: 30px;
  }
}

.container > .user-main > .about {
  position: relative;
  width: auto;
  padding: 0;
  margin: 0 -15px 20px;
}

:root {
  $separator-color: color("lavander");
  $content-size-width: $size--profile-content--max-width;
  $list-by-row: 1;
  $gutter-between-listings: 15px;
  $vertical-margin-listings: 25px;

  .user-table {
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;

    .stats-section {
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: 47px;

      // 42.5px we took into count the borders of the stats cards, total grid gutter and margins between cards
      @include make-stats-section-stick-to-edges(42.5px, 15px);
    }

    .top-section:nth-child(2) {
      border-top: 1px solid $separator-color;
      padding-top: 49px;
    }

    .listings {
      // we set a generic rule for margin-top, margin-left to all the direct children and overcome the first row with a negative margin
      margin-top: -($vertical-margin-listings);
      margin-left: -($gutter-between-listings);
      // https://stackoverflow.com/a/45384426/1422380
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      > .top-sub-section {
        width: unset;
        flex: 1 0 calc((100% / #{$list-by-row}) - #{$gutter-between-listings});
        margin-top: ($vertical-margin-listings);
        margin-left: 15px;

        ul {
          max-width: 300px;
          width: 100%;
        }
      }

      .badges-section {
        .badge-card .badge-contents {
          // to overcome discourse rule
          min-height: 100px;
        }

        .badge-card.medium {
          margin-right: 0;
        }
      }

      // WARNING: this is a soft hide for some of the listings within the user-table
      .links-section {
        display: none;
      }
    }
  }

  .main-nav.nav.nav-pills.user-nav {
    margin: 0;
  }

  .user-table .listings-container,
  .main-nav.nav.nav-pills.user-nav,
  // NOTE: the wrapper cannot be limited for user-summary-page due to the slider on top of this view
  body:not(.user-summary-page) .user-table > .wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: $content-size-width;
  }

  body:not(.user-summary-page) .user-table > .wrapper {
    display: flex;
  }
}

@media (min-width: grid("md")) {
  :root {
    $list-by-row: 2;
    $gutter-between-listings: 15px;
    $vertical-margin-listings: 45px;

    .user-table .listings {
      margin-top: -($vertical-margin-listings);
      margin-left: -($gutter-between-listings);

      > .top-sub-section {
        width: unset;
        flex: 1 0 calc((100% / #{$list-by-row}) - #{$gutter-between-listings});
        margin-top: ($vertical-margin-listings);

        ul {
          max-width: 300px;
        }
      }
    }
  }
}

// 30px is the total gutter of our grid system (15px each side)
@media (min-width: $size--profile-content--max-width + 30px) {
  // this space is the one that left from the substraction or the viewport width with the $size--profile-content--max-width
  $negative-space: (100vw - #{$size--profile-content--max-width});

  :root .user-table .stats-section {
    @include make-stats-section-stick-to-edges($negative-space, 15px);
  }
}

@media (min-width: grid("desktop-min-width")) {
  :root {
    $list-by-row: 3;
    $gutter-between-listings: 15px;
    $vertical-margin-listings: 90px;

    .user-table .listings {
      margin-top: -($vertical-margin-listings);
      margin-left: -($gutter-between-listings);

      > .top-sub-section {
        width: unset;
        flex: 1 0 calc((100% / #{$list-by-row}) - #{$gutter-between-listings});
        margin-top: ($vertical-margin-listings);

        ul {
          max-width: 370px;
        }
      }
    }
  }
}
