.user-table .stats-section .user-stat {
  $bg-color-label: $white;
  $border-color: color("catskill-white");
  $font-color-label: color("aluminium");
  $font-color-number: color("mulled-wine");
  $font-size-label: 12px;
  $font-size-number: 25px;
  $stat-size-width: 167px;
  $stats-size-height: 140px;
  $heart-color: #e64455;
  $heart-size: 12px;

  background-color: transparent;
  border-radius: 3px;
  border: 2px solid $border-color;
  display: flex;
  flex-direction: column;
  height: $stats-size-height;
  text-align: center;
  width: $stat-size-width;

  .value,
  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    @include med;
  }

  .value {
    color: $font-color-number;
    font-size: $font-size-number;
    height: 70%;
  }

  .label {
    background-color: $bg-color-label;
    border-top: 1px solid $border-color;
    color: $font-color-label;
    font-size: $font-size-label;
    height: 30%;
    position: relative;
    text-transform: capitalize;

    .d-icon.fa-heart {
      font-size: $heart-size;
      position: absolute;
      top: -($heart-size/2);

      &::before {
        color: $heart-color;
      }
    }
  }
}
