%item-notification {
  background-color: $white;
  border: 2px solid color("catskill-white");
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70px;
  padding-right: 25px;
  position: relative;

  > li,
  > li a {
    height: 100%;
  }

  > li {
    flex: 1;
  }

  > li a {
    padding: 0 25px;

    .d-icon {
      align-items: center;
      justify-content: center;
      border-right: 1px solid color("catskill-white");
      display: flex;
      height: 100%;
      margin: 0 30px 0 0;
      padding-right: 25px;
      text-align: center;
      width: 20px + 25px;

      &::before {
        font-size: 20px;
      }
    }
  }

  .time {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.user-stream .item.notification {
  @extend %item-notification;
}
