$size--badge-card-icon: 78px;

.badge-card {
  border: 2px solid color("catskill-white");
  margin: 0;

  &.medium {
    // Discourse will force with this class to grow the card 33%
    flex: unset;
    margin-right: 0;
  }

  .badge-contents {
    height: 100px;

    .badge-link {
      padding: 0;
    }

    .badge-icon {
      background-color: #fbfcfd;
      border-right: 1px solid color("catskill-white");
      margin: 0;
      width: 100px;

      img,
      .d-icon {
        align-items: center;
        display: flex;
        height: $size--badge-card-icon;
        justify-content: center;
        overflow: hidden;
        position: relative;
        width: $size--badge-card-icon;
      }
    }

    .badge-info {
      background-color: $white;
      padding-left: 28px;

      .badge-info-item {
        padding: 0;

        h3 {
          @include med;
          color: color("mulled-wine");
          font-size: 15px;
        }
      }

      .badge-summary {
        font-size: 12px;
        color: color("aluminium");
      }
    }
  }
}
