.basic-user-list-entry {
  align-items: center;
  border-bottom: 1px solid color("catskill-white");
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0 0 13px;

  .user-avatar {
    margin-left: 0;
    margin-right: 18px;
    position: relative;

    &--inner {
      // needed for the avatar flair customization
      position: relative;

      > a {
        display: block;
      }

      .custom-avatar .custom-icon {
        font-size: 9px;
        bottom: -2px;
        right: 4px;
      }
    }

    .avatar {
      height: 40px;
      width: 40px;
    }
  }

  .main-data,
  .username {
    &,
    & a {
      @include med;
      font-size: 13px;
      line-height: 1;
      margin-bottom: 6px;
      color: color("mulled-wine");
    }
  }

  .secondary-data {
    font-weight: normal;
    font-size: 12px;
    color: color("aluminium");
  }
}

.metadata-has-pill {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .counter-pill {
    align-items: center;
    background-color: color("catskill-white");
    border-radius: 12.5px;
    display: flex;
    height: 25px;
    justify-content: center;
    width: 64px;

    &__icon {
      color: #7a88b2;
      font-size: 9px;

      .d-icon {
        margin-left: 4px;
        position: relative;
        top: 2px;
      }
    }

    &__number {
      @include med;
      color: #616983;
      font-size: 12px;
    }
  }
}

.secondary-data-has-likes {
  .likes-counter .custom-icon {
    color: color("lavander-gray");
    font-size: 10px;
  }

  .counter-number {
    @include med;
    color: color("aluminium");
    font-size: 12px;
  }
}
