@mixin user-about-card-default-decorative-background {
  /* background: */
  background-image: -webkit-linear-gradient(
    314deg,
    #25aea6 0%,
    #2aa2bf 28%,
    #3785ff 100%
  );
  background-image: -o-linear-gradient(
    314deg,
    #25aea6 0%,
    #2aa2bf 28%,
    #3785ff 100%
  );
  background-image: linear-gradient(
    44deg,
    #25aea6 0%,
    #2aa2bf 28%,
    #3785ff 100%
  );
}

.user-main .about {
  background-color: $white;
  border-bottom: 2px solid color("catskill-white");
  position: relative;

  &::before {
    @include user-about-card-default-decorative-background;
    content: "";
    display: block;
    height: 45px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d(0, 0, 0);
    // follow animated properties from siblings
    transition: transform linear 0.15s;
  }

  > * {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
  }

  .details {
    margin-bottom: -10px;
    padding: 0 15px;

    .user-profile-avatar img {
      background-color: $white;
      border: 10px solid $white;
      margin: 35px 0 0 0;
      width: 120px;
      height: 120px;
      position: relative;
      top: -20px;
    }

    .primary-textual .username {
      @include med;
      color: color("mulled-wine");
      font-size: 22px;
      position: absolute;
      bottom: 68px;
      left: 148px;
      margin: 0;
    }
  }

  .primary {
    .controls {
      height: 32px;
      left: 0;
      position: absolute;
      right: 0;
      top: calc(100% - 45px);

      ul {
        align-items: center;
        display: flex;
        margin: 0;

        .btn {
          align-items: center;
          display: flex;
          justify-content: center;
          margin: 0;
          min-height: 28px;
        }

        li:not(:first-of-type) {
          margin-left: 5px;
        }

        .btn.compose-pm {
          margin-right: 5px;
        }
      }
    }
  }

  .secondary {
    border: 0;
    padding-left: 148px;
    position: relative;

    dl {
      padding: 0;
      position: absolute;
      left: 163px;
      top: -55px;

      dt,
      .relative-date.date {
        @include med;
        font-size: 12px;
        color: #a6a6ac;
      }

      div {
        margin: 0;
      }

      // WARNING: this will remove all metadata within this container and leave only the Joined date
      div:not(:first-child) {
        display: none;
      }
    }
  }
}

.user-main .about.collapsed-info {
  &::before {
    transform: translate3d(0, -20px, 0);
  }

  .primary .controls {
    top: 34px;
  }

  .details {
    padding-left: 15px;
    padding-right: 15px;
  }

  .details .primary {
    h1 {
      bottom: 25px;
      left: 65px;
    }

    .avatar {
      border-width: 5px;
    }
  }
}

@media (min-width: grid("sm")) {
  .user-main .about {
    .primary .controls {
      height: auto;
      top: 65px;
      position: relative;
      padding: 0;
      width: auto;
    }
  }
}

// 30px is the total gutter of our grid system (15px each side)
@media (min-width: $size--profile-content--max-width + 30px) {
  .user-main .about {
    > *,
    .details {
      max-width: $size--profile-content--max-width;
      padding: 0;
    }

    &.collapsed-info .details {
      padding: 0;
    }

    .secondary dl {
      left: 148px;
    }
  }
}
