.main-nav.nav.nav-pills.user-nav {
  $height: 36px;
  $font-size: 14px;
  $active-color: color("free-speech-blue");
  $default-color: color("mulled-wine");

  // we expect the tab shape will be delivered by this selector
  a {
    @include med;
    color: $default-color;
    font-size: $font-size;
    height: $height;
    padding: 0;
    position: relative;
    transition: all $ease-std $timing;

    &:hover {
      background-color: transparent;
      opacity: 0.75;
    }

    &.active {
      background-color: transparent;
      color: $active-color;

      &::after {
        background-color: $active-color;
      }
    }

    .d-icon {
      // NOTE: force the navigation to not render icons in one side of the labels
      display: none;
    }

    // use ::after instead border so it can be displayed over the border of the container
    &::after {
      background-color: transparent;
      bottom: -1px;
      content: "";
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
    }
  }
}
