// NOTE: the rule doesn't seems to fit the target element and thus it actually affects
// other containers outside this context, to overcome that we will target with maximum specificity
.user-table {
  > .wrapper > .ember-view > .paginated-topics-list {
    background-color: $white;
    border-radius: 3px;
    border: 1px solid color("catskill-white");
    width: 100%;

    @media (min-width: grid("desktop-min-width")) {
      padding: 65px 60px;
    }
  }
}
