.user-table .stats-section {
  $margin-between-stats: 15px;
  $margin-vertical-listing: 10px;
  $size-user-stat-height: 130px;
  $size-user-stat-width: 130px;
  // we will need to force the title height for the whole process to height the scrollbar (0px while it is display: none)
  $size-stats-title-height: 0px;

  // sum all elements within the container so we know the height that we need to stop the visibility
  height: ($margin-vertical-listing * 2) + $size-user-stat-height +
    $size-stats-title-height;
  overflow-y: hidden;

  > ul {
    @extend .clearfix;
    display: flex;
    margin: $margin-vertical-listing 0;
    overflow-x: scroll;
    justify-content: flex-start;
    // in order to hide the scrollbar on desktop devices we need to make a padding and a fixed height so the scroll won't be visible
    padding: 0 0 30px;

    .user-stat {
      // make sure user-stat is using the height we need in order to hide the scrollbar
      height: $size-user-stat-height;
      width: $size-user-stat-width;
    }

    li {
      display: flex;
      margin: 0;
      padding: 0;

      & + li {
        margin-left: $margin-between-stats;
      }

      &:last-of-type {
        // just a deliverated space in order to make the user realize that there is nothing more there
        &::after {
          content: "";
          display: block;
          height: 0px;
          width: 50vw;
        }
      }
    }
  }

  .stats-title {
    display: none;
    height: $size-stats-title-height;
  }

  .linked-stat a {
    padding: 0;
  }
}

@media (min-width: grid("md")) {
  .user-table .stats-section {
    $margin-vertical-listing: 10px;
    $size-stats-title-height: 0px;
    $size-user-stat-height: 150px;
    $size-user-stat-width: 167px;

    height: ($margin-vertical-listing * 2) + $size-user-stat-height +
      $size-stats-title-height;

    > ul {
      margin: $margin-vertical-listing 0;

      .user-stat {
        height: $size-user-stat-height;
        width: $size-user-stat-width;
      }
    }
  }
}
