.user-table .user-preferences {
  background-color: $white;
  border: 1px solid color("catskill-white");
  border-radius: 3px;
  padding: 15px 0;

  .control-group .control-label {
    margin-bottom: 17px;
  }

  .form-vertical .control-group {
    border-bottom: 1px solid color("catskill-white");
    margin-bottom: 0;
    padding: 17px 32px;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .control-group {
    .ember-text-field {
      margin-bottom: 0;
      font-size: 12px;
      line-height: 1;
    }

    .controls + .instructions {
      margin: 5px 0 0;
    }
  }

  @media (min-width: grid("desktop-min-width")) {
    padding: 30px 0;

    .control-group .control-label {
      margin-bottom: 35px;
    }

    .form-vertical .control-group {
      padding: 35px 65px;
    }

    .control-group {
      .controls + .instructions {
        margin: 5px 0 0;
      }
    }
  }
}
