.messages .paginated-topics-list {
  .topic-card--listing .col-author {
    align-items: center;
    border-right: none;
    display: flex;
    justify-content: center;

    .custom-avatar .custom-icon {
      right: 0px;
      bottom: -2px;
      font-size: 10px;
    }
  }

  .bulk-select {
    // NOTE: there is a bug that some topic list items outside this context show the checkbox when the bulked is enabled
    // as it is also happen within Discourse app, we will fix this using CSS for simplicity
    display: block;
  }

  div.bulk-select {
    position: absolute;
    left: 18px;
    top: 28px;

    input {
      height: 18px;
      width: 18px;
      margin: 0;
    }

    & + .topic-card__author {
      padding-left: 36px;
    }
  }

  .topic-card__author {
    img {
      height: 36px;
      width: 36px;
    }
  }
}
