@mixin update-badges-grid-cards-sizes(
  $badges-grid-card-height,
  $badges-grid-card-width,
  $badges-grid-card-icon-size,
  $badges-grid-card-border-width: 2px
) {
  .badge-contents {
    height: $badges-grid-card-height;
    width: $badges-grid-card-width - ($badges-grid-card-border-width * 2);
  }

  .badge-icon {
    height: $badges-grid-card-icon-size;
  }

  .badge-card .badge-contents .badge-icon img,
  .badge-card .badge-contents .badge-icon .d-icon {
    height: $badges-grid-card-icon-size;
    width: $badges-grid-card-icon-size;
  }

  .badge-card .badge-contents .badge-icon .d-icon::before {
    font-size: $badges-grid-card-icon-size;
  }
}

%badges-grid {
  $badges-grid-gutter: 15px;
  $grow-ratio: 0.85;

  @include update-badges-grid-cards-sizes(
    290px * $grow-ratio,
    240px * $grow-ratio,
    150px * $grow-ratio
  );

  background-color: transparent;
  padding: 0;
  margin-left: -($badges-grid-gutter);

  .badge-card {
    border: 2px solid color("catskill-white");
    margin-bottom: $badges-grid-gutter;
    margin-left: $badges-grid-gutter;
  }

  .badge-contents {
    background: $white;
  }

  .badge-link {
    align-items: center;
    display: flex;
    flex-direction: column;

    .badge-icon {
      background-color: rgba(color("catskill-white"), 0.25);
      border: none;
      border-bottom: 1px solid color("catskill-white");
      width: 100%;
    }

    .badge-info {
      text-align: center;
      padding-left: 5px;
      padding-right: 5px;
      width: 100%;

      .badge-info-item {
        width: 100%;

        h3 {
          @include clamp-text(1);
        }
      }

      .badge-summary {
        @include clamp-text(2, 1.4, 10%);
      }
    }
  }

  .badge-card .badge-contents .badge-icon img,
  .badge-card .badge-contents .badge-icon .d-icon {
    position: relative;
    top: 16%;
    // overcome previous rules
    max-width: unset;
    max-height: unset;
  }

  @media (min-width: grid("desktop-min-width")) {
    @include update-badges-grid-cards-sizes(290px, 240px, 150px);
  }
}

.user-table .user-badges-list {
  @extend %badges-grid;
}
