<h3>{{{suggestedTitle}}}</h3>
<div class="topics">
  {{#if topic.isPrivateMessage}}
    {{basic-topic-list topics=topic.suggestedTopics showPosters="true" hideCategory="true" }}
  {{else}}
    {{basic-topic-list topics=topic.suggestedTopics showPosters="true" suggestedTopicsLayout="true"}}
  {{/if}}
</div>
<h3 class='suggested-topics-message'>{{{browseMoreMessage}}}</h3>
