<div class="content--topic-list">
  {{plugin-outlet
    name="before-topic-list-body"
    args=(hash
    topics=topics
    selected=selected
    bulkSelectEnabled=bulkSelectEnabled
    lastVisitedTopic=lastVisitedTopic
    discoveryList=discoveryList
    hideCategory=hideCategory)
    tagName=""
    connectorTagName=""}}

    {{#each filteredTopics as |topic|}}
      {{topic-list-item topic=topic
                        tagName="div"
                        bulkSelectEnabled=bulkSelectEnabled
                        showTopicPostBadges=showTopicPostBadges
                        hideCategory=hideCategory
                        showPosters=showPosters
                        showParticipants=showParticipants
                        showLikes=showLikes
                        showOpLikes=showOpLikes
                        suggestedTopicsLayout=suggestedTopicsLayout
                        expandGloballyPinned=expandGloballyPinned
                        expandAllPinned=expandAllPinned
                        lastVisitedTopic=lastVisitedTopic
                        selected=selected}}
      {{raw "list/visited-line" lastVisitedTopic=lastVisitedTopic topic=topic}}
    {{/each}}
</div>
