.user-menu {
  div.menu-links-header a:hover,
  .notifications li:hover {
    background-color: rgba(color("accent-light"), 0.2);
  }

  .menu-links-row {
    > li:first-child {
      // where the username used to be as we add our decorator
      display: none;
    }
  }

  .before-menu-links-row {
    display: flex;

    .username {
      @include clamp-text(1, 14px);
      display: block;
      max-width: 75px;
      margin-right: 5px;
    }

    .score {
      @include clamp-text(1, 14px);
      display: block;
      max-width: 70px;
    }
  }

  .menu-links-header {
    color: #919191;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;

    > .menu-links-row {
      display: block;
    }
  }

  .glyphs {
    display: block;
    // to hide icons and meet design expectations
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .glyphs i,
  .glyphs .widget-link {
    display: inline-block;
  }

  .user-activity-link:not(.ahwaa) {
    display: none;
  }

  .d-icon-user {
    display: none;
  }

  .notifications {
    > hr:first-child {
      margin-bottom: -1px;
    }

    li:not(.show-all) {
      padding: 10px 20px;
    }
  }

  .menu-panel {
    border: none;
    margin: 0;
    padding: 0;

    .panel-body {
      top: 0;
      width: 100%;
    }
  }

  .custom-dropdown-item {
    .widget-link,
    .widget-button {
      align-items: center;
      display: flex;
      height: 40px;
      line-height: 1;
      padding-bottom: 0;
      padding-top: 0;
    }

    .d-label,
    .d-button-label {
      @include med;
      font-size: 12px;
      line-height: 1;
    }
  }
}
