.profile-overview .user-progress {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  width: 100%;

  .progress-bar-container,
  .progress-bar {
    height: 5px;
  }

  .progress-bar-container {
    margin: 0 14px 0 0;
    width: 100%;
  }
}

.profile-overview {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  &-icon {
    color: #87878f;
    position: relative;

    & > .d-icon {
      font-size: 14px;
      top: -2px;
    }
  }

  .progress-bar-container {
    margin: 0 10px;
  }

  .notifications {
    display: flex;
    // this will prevent too long usernames from break the layout
    .overview-username {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 70px;
      margin-right: 5px;
    }
  }
}

.progress-bar-container {
  background-color: color('catskill-white');
  overflow: hidden;
  width: 100px;

  .progress-bar {
    @include rainbow-background;
  }

  &,
  .progress-bar {
    border-radius: 2px;
    height: 3px;
  }
}

@media (max-width: grid('mobile-max-width')) {
  .profile-overview {
    display: none;
  }
}
