.d-header {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0;
  padding: 0;

  .menu-panel.slide-in {
    // this will allow us to keep the relation between the parent and the dropdown position for all cases
    position: absolute;
    // as there is new components over the header the JS to toggle the menu will look for the height of the header and will include the category-bar making this component render misplaced
    top: 100% !important;
  }

  .d-header-icons {
    .icon {
      width: auto;
      height: auto;
    }

    .current-user .icon {
      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
      }
    }

    .icon,
    .current-user .icon {
      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
      }
    }
  }

  .header-tag-icon {
    position: relative;
  }

  .category-toggle-trigger {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
  }

  .btn-flat {
    padding: 0;
  }

  .side-logo-container {
    // this will avoid the seach-header to broke the layout in any edge case where siblings gets too wide
    white-space: nowrap;
  }

  .btn-primary {
    padding: 0;
  }

  .wrap {
    max-width: none;
    padding: 0;
    width: 100%;
  }

  .contents {
    display: flex;
    justify-content: flex-end;
    margin: 0;

    > .title-wrap {
      // keep some gutter after `.wrap` padding reset
      padding-left: 15px;
    }

    .title {
      float: none;
      height: $size--header-height;
      display: flex;
      align-items: center;
      position: relative;
    }

    .panel {
      float: none;

      .header-buttons {
        margin: 0;
        margin-right: 15px;
        order: 2;
      }

      .d-header-icons {
        display: flex;
      }
    }
  }

  .header-dropdown-toggle {
    a,
    i {
      @include avoid-select-text;
    }
  }

  // Increase weight of rule with double class
  &.d-header {
    box-shadow: none;
    margin-bottom: 0;
  }

  // easiest way to replace the search icon on desktop
  :root:not(.mobile-device) & .search-menu .btn.search-icon {
    // add the new icon
    i::after {
      @extend %icon;
      color: rgba(135, 135, 143, 0.4);
      content: "\E002";
      display: block;
      font-size: 12px;
    }

    // remove the old icon
    i::before {
      display: none;
    }
  }
}

.title-wrap {
  display: flex;
  align-items: center;
  // to stick it to the left
  margin-right: auto;

  .title {
    padding-right: 20px;
    margin-right: 20px;
    max-width: none;

    &::after {
      @include decorative-separator;
      left: auto;
      right: 0;
    }
  }

  .language-selector {
    font-size: 19px;
    display: inline-block;

    &-link {
      color: color("river-bed");
    }
  }
}

#current-user {
  > a {
    border: none !important;
  }
}

// edge case where the mobile view is active but rendering desktop size
@media (min-width: grid("desktop-min-width")) {
  :root.mobile-view .d-header .header-tag-icon,
  :root.mobile-view .d-header .header-dropdown-container {
    display: none;
  }
}

@media (max-width: grid("mobile-max-width")) {
  .d-header-icons {
    .header-dropdown-container {
      order: 1;
    }
    .header-tag-icon {
      order: 2;
    }
    .current-user {
      order: 3;
    }
  }

  .d-header {
    &.user-is-logged-in {
      .d-header-icons {
        > * {
          min-width: 60px;
        }
      }
    }

    .language-selector {
      display: none;
    }

    .title-wrap {
      .title {
        padding: 0;
        margin: 0;

        &::after {
          display: none;
        }
      }
    }
  }

  .d-header-icons {
    margin: 0;

    #search-button {
      padding: 0;
    }

    > * {
      border-left: 1px solid color("catskill-white");
      border-right: 1px solid color("catskill-white");
      padding: 0 7px;
    }

    > .header-dropdown-container {
      padding: 0;
    }

    i,
    i.icon {
      color: rgba(135, 135, 143, 0.4);
      font-size: 14px;
      padding: 0;
    }
  }

  .d-header-icons,
  .header-buttons {
    > * {
      align-items: center;
      display: flex;
      height: $size--header-height;
      min-width: 30px;

      > * {
        margin: 0 auto;
      }
    }

    li + li {
      border-left: none;
    }
  }

  .d-header .contents .panel .header-buttons {
    margin-right: 0;
  }
}

// Code for on scroll animation at topic page
.contents {
  &.contents-reversed {
    flex-direction: row-reverse;
  }

  .extra-info-wrapper {
    display: flex;
    align-items: center;
    margin-left: 30px;
    max-width: calc(100% - 150px);
    width: 100%;

    & ~ .panel,
    & ~ .btn-header-cta,
    & ~ .title-wrap .language-selector,
    & ~ .title-wrap .search-menu {
      display: none;
    }

    .extra-info {
      width: 100%;
    }

    & ~ .title-wrap {
      margin-right: 0;

      .title {
        margin-right: 0;

        &::after {
          height: 100%;
          top: 0;
        }
      }
    }
  }
}
// ---

// NOTE: this will avoid the elements within the header to overflow Mobile small resolutions
@media (max-width: grid("smallest-handheld")) {
  .btn-header-cta {
    display: none;
  }
}
