.btn-header {
  color: color("mulled-wine");
  font-size: 13px;
  background-color: transparent;

  .d-label {
    color: color("mulled-wine") !important;
  }

  .d-header &.login-button,
  .d-header &.sign-up-button {
    padding: 0 24px;
  }

  &.inbox-button {
    opacity: 0.3;
    position: relative;

    &.has-notifications {
      opacity: 1;

      &::after {
        background: color("accent-dark");
        border-radius: 100%;
        content: "";
        height: 6px;
        position: absolute;
        right: 6px;
        top: 3px;
        width: 6px;
      }
    }
  }

  &:hover {
    background: transparent;
    color: color("river-bed");
    opacity: 0.8;
  }

  &-cta {
    @include med;
    align-items: center;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    font-size: 14px;
    height: $size--header-height;

    &::before {
      background: -o-linear-gradient(316deg, #4c59b5 0%, #b558e9 100%);
      background: -webkit-linear-gradient(316deg, #4c59b5 0%, #b558e9 100%);
      background: linear-gradient(46deg, #4c59b5 0%, #b558e9 100%);
      border-radius: 30px;
      content: "";
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity $timing;
      width: 100%;
      z-index: z("base");

      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:hover,
    &:active {
      background: #5a59bb;

      &::before {
        opacity: 0;
      }
    }

    .d-button-label::before,
    .d-label::before {
      content: "\E001";
      display: inline-block;
      font-family: "Icons";
      font-size: 15px;
      font-weight: normal;
      margin: 0 15px 0 0;
      top: 2px;
    }

    .d-button-label,
    .d-label {
      margin-left: 10px;
    }

    .d-header &.btn-primary {
      padding: 0 15px;
    }
  }
}

.header-buttons {
  .btn-header {
    text-transform: capitalize;
  }

  .btn-header:not(:first-child) {
    margin-left: 0;
    position: relative;

    &::before {
      @include decorative-separator;
    }
  }
}

@media (max-width: grid("mobile-max-width")) {
  .btn {
    &.btn-header,
    &.btn-header-cta {
      border-radius: 0;
    }

    &.btn-header {
      &::before,
      &::after {
        display: none;
      }
    }

    &.btn-header-cta {
      font-size: 0px;
      margin: 0;
      min-width: 60px;

      .d-button-label,
      .d-label {
        margin: 0;

        &::before {
          font-size: 24px;
          margin: 0;
        }
      }
    }
  }

  .header-buttons {
    display: flex;

    button {
      &.sign-up-button {
        // just to overwrite Discourse default
        display: block;
      }
    }

    .d-header & > button.btn-header {
      padding: 0 12px;
    }

    // NOTE: add to "not" rule buttons availables on mobile header
    > *:not(.sign-up-button):not(.login-button) {
      display: none;
    }

    > .btn {
      background-color: lighten(color("catskill-white"), 2.5%);

      &:not(:first-of-type) {
        border-left: 1px solid color("catskill-white");
      }
    }
  }
}
