.search-advanced-sidebar .search-bar {
  .btn-primary.search-cta {
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  input,
  .btn-primary.search-cta {
    height: 42px;
  }
}
