.search-container.page-header {
  margin-top: 30px;
}

.search-info .result-count {
  align-self: flex-start;
  margin-top: 40px;
}

.search-info .sort-by .select-kit.combo-box .select-kit-header {
  width: fit-content;
  float: right;
  padding-left: 15px;
}
