:root.mobile-view {
  .topic-body .post-menu-area .post-controls .actions .widget-button.reply {
    .d-button-label {
      display: none;
    }
  }

  .topic-body .post-menu-area .post-controls .actions .like-button .like-count {
    margin-left: 0;
  }

  .topic-body .post-menu-area .post-controls {
    .show-replies + .actions {
      // just enought to fit the .show-replies
      margin-right: 0;
    }
  }

  .topic-body .post-menu-area .post-controls .actions .widget-button.reply i {
    display: block;
  }

  .post-menu-area .post-controls {
    padding-left: $size--post-stream-pad-sm;
    margin-left: 0;
  }
}
