:root.mobile-view {
  .topic-body .post-menu-area .post-controls .actions .widget-button.reply {
    .d-button-label {
      display: none;
    }
  }

  .topic-meta-data {
    margin-left: 0;
  }

  .topic-body .post-menu-area .post-controls {
    .show-replies + .actions {
      // just enought to fit the .show-replies
      margin-right: 0;
    }
  }

  .boxed .contents {
    padding: 0;
  }

  #topic-title {
    padding-bottom: 0;
  }

  .topic-post .topic-map:not(.customized) {
    display: none !important;
  }

  .topic-map.customized {
    left: 20px;
  }

  .topic-body .post-menu-area .post-controls .actions .widget-button.reply i {
    display: block;
  }

  .topic-post:last-of-type {
    padding-bottom: 0;
  }

  .topic-post article {
    padding: 0;
    border: none;

    > .row {
      display: block;
    }
  }

  .topic-body {
    padding-left: $size--post-stream-pad-sm;
  }

  .topic-body .post-menu-area {
    margin-left: -($size--post-stream-pad-sm);
  }

  .post-menu-area .post-controls {
    padding-left: $size--post-stream-pad-sm;
    margin-left: 0;
  }

  body:not(.archetype-private_message) #suggested-topics {
    @media (max-width: 540px) {
      .topic-list-item {
        width: 100%;

        &:nth-child(2n) {
          margin-left: 0;
        }
      }
    }
  }
}
