:root.mobile-view {
  .topic-post:last-of-type {
    padding-bottom: 0;
  }

  .topic-post article {
    padding: 0;
    border: none;

    > .row {
      display: block;
    }
  }

  .topic-body {
    padding-left: $size--post-stream-pad-sm;
  }

  .topic-body .post-menu-area {
    margin-left: -($size--post-stream-pad-sm);
  }

  .topic-meta-data {
    margin-left: 0;
  }

  .boxed .contents {
    padding: 0;
  }

  #topic-title {
    padding-bottom: 0;
  }

  body:not(.archetype-private_message) #suggested-topics {
    @media (max-width: 540px) {
      .topic-list-item {
        width: 100%;

        &:nth-child(2n) {
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: grid("handheld")) {
  :root.mobile-view .post-stream {
    .topic-avatar {
      margin-right: 10px;
    }

    .topic-body {
      .cooked {
        margin-bottom: 20px;
      }
    }

    .topic-post:not(:first-of-type) {
      padding-left: 0;

      .topic-avatar {
        margin-bottom: 15px;
      }
    }

    .topic-meta-data,
    .cooked,
    .retort-wrapper__row,
    .post-retort:first-of-type {
      margin-left: 0;
    }
  }
}
