.search-menu {
  position: relative;

  .search-context {
    > label:first-of-type {
      font-size: 12px;
    }
  }

  .search-context,
  .results {
    background: linear-gradient(90deg, #EFF1F6 0%, #FFFFFF 100%);
    position: absolute;
    left: 0;
    right: 0;
    z-index: z('header');
  }

  .search-context {
    padding-left: 35px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .results {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0;

    & ~ .search-context {
      border-radius: 0;
    }

    ul, ul li {
      margin: 0;
      padding: 0;
    }

    li a {
      padding: 10px 15px !important;
    }

    li:last-child a {
      padding-bottom: 15px !important;
    }
  }
}
