.d-header .title a {
  display: inline-block;
  vertical-align: top;
}

.header-search-enabled .search-header a,
.header-search-enabled .search-header a:visited {
  color: $tertiary;
}

.header-search-enabled #search-button,
.header-search-enabled ul.d-header-icons > li.header-dropdown-toggle:first-of-type {
  display: none;
}

.search-header.search-menu {
  background: linear-gradient(90deg, #eff1f6 0%, #ffffff 100%);
  bottom: 0;
  display: inline-block;
  margin-left: 20px;
  padding: 0;
  top: 0;
  vertical-align: middle;
  white-space: nowrap;
  width: 350px;
  z-index: 10;

  // as we know the fixed width of the siblings we can take the rest of the space
  width: calc(100vw - 675px);
  .user-is-logged-in & {
    width: calc(100vw - 1040px);
  }

  &.show-header-results {
    box-shadow: none;
  }

  #search-term {
    margin: 0;
    width: 100%;
  }

  :root & .search-input .searching {
    top: calc(50% - 5px);
  }

  .btn.search-icon {
    border: 0;
    color: rgba(135, 135, 143, 0.4);
    float: left;
    font-size: 16px;
    padding-left: 35px;
    padding-right: 0;
    pointer-events: none;
  }

  .search-input {
    overflow: hidden;

    input {
      @include med;
      border: 0;
      color: color('river-bed');
      font-size: 13px;
      text-transform: none;
    }

    .searching {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  $search-context-pad: 5px;

  .search-context,
  .results {
    padding: $search-context-pad;
  }

  .search-context .show-help {
    @include med;
    font-size: 12px;
  }

  :root & .results li:not(.category):not(.heading):hover a:not(.badge-notification),
  :root & .results li:not(.category):not(.heading):hover a:not(.badge-notification) {
    background-color: rgba(color('accent-light'), 0.2);
  }

  .results {
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    white-space: normal;
    width: 100%;

    ul {
      list-style-type: none;
      margin: 0;
    }

    .no-results,
    .search-link {
      margin-left: -($search-context-pad);
      margin-right: -($search-context-pad);
    }

    .heading {
      padding: 5px 0 5px 5px;

      .filter {
        padding: 0 5px;
      }
    }

    .no-results {
      @include med;
      background: -o-linear-gradient(316deg, #4c59b5 0%, #b558e9 100%);
      background: -webkit-linear-gradient(316deg, #4c59b5 0%, #b558e9 100%);
      background: linear-gradient(46deg, #4c59b5 0%, #b558e9 100%);
      color: $white;
      padding: 10px $search-context-pad;
      position: relative;
      text-align: center;

      &::before {
        background: url(/plugins/discourse-ahwaa-hero/images/hero-bg.svg) repeat left
          center;
        background-attachment: fixed;
        background-size: 350px;
        bottom: 0;
        content: '';
        left: 0;
        opacity: 0.04;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 5;
      }

      .widget-link {
        @include med;
        color: $white;
        transition: opacity 0.15s;

        .d-icon {
          font-size: 10px;
          position: relative;
          top: -1px;
        }

        &:hover {
          opacity: 0.85;
        }
      }
    }

    .search-link {
      .badge-category-parent {
        line-height: 0.8em;
      }
      .topic-title {
        margin-right: 6px;
      }

      .topic-statuses {
        color: dark-light-choose(
          scale-color($primary, $lightness: 50%),
          scale-color($secondary, $lightness: 50%)
        );
        display: inline-block;
        float: none;
        margin: 0;

        .fa {
          margin: 0;
        }
      }
    }

    li:not(.category):not(.heading) {
      font-size: 0.929em;
      line-height: 16px;

      .fa {
        font-size: inherit;
      }

      a {
        display: block;
        padding: 5px;
        transition: all linear 0.15s;
      }

      &:hover a:not(.badge-notification) {
        background-color: dark-light-diff($highlight, $secondary, 50%, -55%);
      }

      button {
        margin-left: 5px;
      }
    }
  }
}

.search-input input[type='text'],
.search-header .search-icon {
  background: transparent;
  height: $size--header-height;
}

.search-header .d-label {
  color: color('accent-light') !important;

  &:visited {
    color: color('accent-light') !important;
  }
}

.search-header {
  display: inline-block;

  .results li:not(.category):not(.heading):hover a:not(.badge-notification) {
    background-color: darken(color('catskill-white'), 5%);
  }
}

.menu-panel ul li.heading a,
.menu-panel ul.menu-links li a {
  &:hover {
    background-color: darken(color('catskill-white'), 5%);
  }
}

.search-bar {
  .btn.btn-primary {
    border-radius: 0px;
  }
}

@media (max-width: grid('mobile-max-width')) {
  .search-header {
    width: calc(100vw - 350px);
  }

  .user-is-logged-in .search-header.search-menu {
    width: calc(100vw - 325px);
  }

  .search-menu .btn.search-icon {
    padding-left: 15px;
  }
}

// NOTE: Small improvement to how the search of desktop layout will look over mobile view
@media (max-width: grid('handheld')) {
  :root .search-menu.search-header {
    background: lighten(color('catskill-white'), 2.5%);
    width: calc(100vw - 261px);

    .widget-button.btn.search-icon {
      padding-left: 15px;
    }
  }
}
