.avatar-bubble {
	background-position: center top 15px;
	background-repeat: no-repeat;
	background-size: 40px;
	background: $white;
	border-radius: 3px;
	bottom: 120%;
	box-shadow: 8px 0 15px 0 rgba(#000, 0.05);
	color: inherit;
	left: 50%;
	line-height: 1;
	margin-left: -60px;
	opacity: 0;
	padding: 15px 5px;
	pointer-events: none;
	text-align: center;
	transform: translateY(5px);
	transition: transform $timing cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity $timing;
	width: 120px;
	z-index: 20;
  position: absolute;

  &:after {
		border-color: $white transparent transparent transparent;
		border-style: solid;
		border-width: 5px 5px 0 5px;
		content:'';
		height: 0;
		position: absolute;
		top: 100%;
		width: 0;
    left: 50%;
    left: calc(50% - 7px);
	}

  > img {
    margin-bottom: 5px;
  }

  .bubble__title {
		@include font-size(12);
		@include med;
		color: color('mobster');
	}

	.bubble__meta {
		@include font-size(10);
		color: color('aluminium');
	}

  &-container {
    position: relative;
    overflow: visible;

    &:hover {
      .avatar-bubble {
  			opacity: 1;
  			pointer-events: auto;
  			transform: translateY(0);
  		}
    }
  }
}
