.visited-separator {
  margin: 10px 0;
  position: relative;
  text-align: center;
  text-transform: capitalize;

  &__line {
    border-top: 1px solid color('mischka');
    left: 0;
    position: absolute;
    right: 0;
    top: 10px;
  }

  p {
    color: color('raven');
    background: #F7F8FB;
    display: inline-block;
    line-height: 1;
    padding: 0 10px;
    position: relative;
  }
}
