.topic-card {
  $posters-avatars-size: 25px;

  .posters {
    @extend .clearfix;
    max-width: 100%;
    width: auto;

    > .posters-inner-container {
      float: right;
      margin: 0 2px !important;
      // by default images already has a width but this is for prevention
      width: $posters-avatars-size;

      img {
        max-width: 100%;
      }
    }

    // NOTE: this will enforce to show up to 4 posters (lastest ones)
    > .posters-inner-container:nth-last-child(n + 5) {
      display: none;
    }
  }

  &--listing .topic-card__posters {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    max-width: $posters-avatars-size*4 + 15;
    text-align: center;
  }

  // code for hover effect on posters
  .topic-card__posters {
    .posters {
      height: $posters-avatars-size;
      margin: 0 0 0 auto;
      position: relative;
      transition: width 0.3s;
      width: $posters-avatars-size*4;
    }

    &:hover .posters {
      width: 125px;
    }

    .posters .posters-inner-container {
      // this is a method to stick the avatars to the edges so the :hover effect take place
      position: absolute;
      right: 0;

      &:nth-child(2) {
        right: 25%;
      }

      &:nth-child(3) {
        right: 50%;
      }

      &:nth-child(4) {
        right: 75%;
      }
    }
  }
}

// NOTE: we need special styles here has the avatars will render centered
.topic-card__posters {
  &.posters-count-1 {
    .posters {
      width: 25px;
      max-width: 25px;
    }
  }

  &.posters-count-2 {
    &:hover .posters {
      width: 60px;
    }

    .posters {
      width: 50px;

      .posters-inner-container:nth-child(2) {
        right: calc(100% - 25px);
      }
    }
  }

  &.posters-count-3 {
    &:hover .posters {
      width: 95px;
    }

    .posters {
      width: 76px;

      .posters-inner-container:nth-child(2) {
        right: calc(50% - 12px);
      }

      .posters-inner-container:nth-child(3) {
        right: calc(100% - 25px);
      }
    }
  }
}
