:root {
  .post-type {
    @include med;

    &.question {
      color: #505ec0;
    }

    &.story {
      // TODO: define the color for story post types
      color: green;
    }
  }
}

.topic-post.deleted {
  background: rgba(242, 171, 154, 0.1);
  opacity: 0.7;

  .topic-body {
    background: transparent;
  }

  .post-action.deleted-post {
    align-items: center;
    display: flex;
    float: right;
    margin-bottom: 10px;
  }
}

.topic-card {
  background-color: $white;
  border: 2px solid color("catskill-white");
  border-radius: 3px;
  margin: 0 0 8px 0;
  max-width: 100%;

  .badge-wrapper.bullet .badge-category-bg {
    display: none;
  }

  .topic-post-badges {
    float: right;
  }

  .category-name {
    @include fluid(font-size, 601px, grid("container"), 10px, 12px);
    @include med;
    color: #87878f;
  }

  .row-content {
    padding: 0;
  }

  &--listing {
    .col-author {
      padding: 18px;
      border-right: 1px solid #f1f3f9;
      max-width: 96px;
    }

    // fixes an issue with flexbox in safari
    // we don't need clearfixes, but Discourse adds them
    .row {
      &:before,
      &:after {
        display: none;
      }
    }
  }

  .col-metadata {
    max-width: calc(100% - 96px);
    padding-left: 37px;
  }

  &.expand-pinned {
    .col-author {
      border: none;
    }

    .col-metadata {
      padding: 27px 0 27px 37px;
      border-left: 1px solid #f1f3f9;
    }
  }

  .topic-card__title,
  #list-area & .topic-card__title {
    margin: 0 0 9px 0;

    &,
    a.title {
      @include fluid(font-size, grid("md") - 1, grid("container"), 14px, 17px);
    }

    a.title {
      @include med;
      display: block;
      // NOTE: Discourse inject many states for visited, badged, no-visited titles
      color: #4f4e5b !important;
    }
  }

  &__author {
    text-align: center;

    a {
      display: block;
    }

    .suggested-topic & a {
      display: inline-block;
    }
  }

  &__excerpt {
    @include fluid(font-size, 601px, grid("container"), 10px, 12px);
    color: color("aluminium");

    a {
      @include med;
      color: inherit;

      @include hover {
        color: lighten(color("mobster"), 35);
      }
    }

    .topic-excerpt {
      // NOTE: this is the same margin for the title
      margin: 0 0 9px 0;
    }
  }

  &__posters {
    text-align: center;

    .posters--count {
      @include med;
      color: #87878f;
      display: inline-block;
      font-size: 12px;
      margin-top: 6px;
      text-align: right;
      width: 100%;

      a {
        padding: 0;
      }
    }
  }

  .topic-statuses {
    > a {
      align-items: center;
      display: flex;
    }

    .fa-thumb-tack {
      // to overcome visual effect of icon
      position: relative;
      top: 3px;
    }

    .d-icon-bookmark {
      color: color("bookmarked-color");
      position: relative;
      top: 4px;
    }
  }

  .discourse-tags {
    display: inline-block;
    vertical-align: bottom;
  }

  .btn-conversation {
    color: white !important;
    font-weight: bold;
    margin-left: auto;
    padding: 15px 25px;

    &-container {
      display: flex;
    }
  }
}

.topic-card.has-long-excerpt {
  .col-metadata {
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 1px solid color("catskill-white");
  }

  .col-author {
    border-right: 0;
  }
}

@media (max-width: 900px) {
  .topic-card {
    .btn-conversation {
      padding: 15px 10px;
    }
  }
}

@media (max-width: 600px) {
  .topic-card.topic-card--listing {
    .col-author {
      border: none;
      padding: 0 15px;
      max-width: 75px;

      img {
        max-height: 45px;
        max-width: 45px;
      }

      .custom-icon {
        font-size: 9px;
      }
    }

    .col-metadata {
      max-width: calc(100% - 75px);
      padding: 10px 15px;
      border-left: 1px solid #f1f3f9;
    }

    .topic-statuses {
      left: 0;
      position: absolute;
      top: 0;
    }

    .topic-post-badges {
      position: absolute;
      top: 0;
      right: 0;
    }

    #list-area & .topic-card__title {
      position: relative;
    }

    .topic-statuses ~ .title {
      // enough to fit icon
      padding-left: 15px;
    }

    .topic-post-badges ~ .title {
      padding-right: 25px;
    }

    #list-area & .topic-card__title .title {
      display: block;
      font-size: 14px;
      line-height: 1.4;
    }

    #list-area & .topic-card__title {
      @include clamp-text(2, 1.4);
    }

    .mobile-view & .topic-card__excerpt {
      font-size: 11px;
    }
  }
}
