// keep in mind that whenever the sidebar gets activated the title change to not be part of the topic card composition
%topic-list-title {
  @include fluid(font-size, grid('md') - 1, grid('container'), 18px, 22px);
  @include med;
  margin: 0 0 35px 0 !important;
  text-transform: capitalize;
}

:root .topic-list-title {
  @extend %topic-list-title;
}

.content--topic-list {
  .content__title {
    @extend %topic-list-title;
  }

  .col-author {
    flex-grow: 1;
  }

  .col-metadata {
    flex-grow: 11;
  }
}
