/*
 * This code has been exported as it is from the work done by https://humaan.com/
 */

// New post
// --------------------------------------------------

.new-post-form {
  $footer-fields-vpad: 30px;
  $footer-fields-font-size: 14;

  overflow: hidden;
  position: relative;
  z-index: 10;

  textarea {
    @include fluid(padding-left, grid('md') - 1, grid('container'), 20px, 35px);
    @include fluid(padding-right, grid('md') - 1, grid('container'), 20px, 35px);
    background: $white;
    border-radius: 3px;
    border: 0;
    color: color('mobster');
    height: 80px;
    margin: 0;
    padding-bottom: $footer-fields-vpad;
    padding-top: $footer-fields-vpad;
    resize: none;
    transition: height $timing;
    width: 100%;
  }

  %new-post--focussed {
    height: 250px !important;
    padding-bottom: 90px;
  }

  %new-post-form__footer--focussed {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    transition: opacity $timing $timing,
      transform $timing $timing cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  // if user has focused
  #new-post:focus {
    @extend %new-post--focussed;
    & ~ .new-post-form__footer {
      @extend %new-post-form__footer--focussed;
    }
  }

  // allow user to click controls after lose focus
  &.is-focused {
    #new-post {
      @extend %new-post--focussed;
    }
    .new-post-form__footer {
      @extend %new-post-form__footer--focussed;
    }
  }

  input::-webkit-input-placeholder,
  input:-moz-placeholder,
  input:-ms-input-placeholder {
    color: color('mobster');
    transition: color $timing;
  }

  input:focus::-webkit-input-placeholder,
  input:focus:-moz-placeholder,
  input:focus::-moz-placeholder,
  input:focus:-ms-input-placeholder {
    color: rgba(color('mobster'), 0.5);
  }

  button[type='submit'] {
    @include fluid(right, grid('md') - 1, grid('container'), 20px, 35px);
    bottom: 17px;
    padding: 14px $footer-fields-vpad;
    position: absolute;
    z-index: 15;
  }

  &__footer {
    @include fluid(padding-right, grid('md') - 1, grid('container'), 185px, 200px);
    @include font-size(14);
    background: #f1f3f9;
    border-radius: 0 0 3px 3px;
    bottom: 0;
    box-shadow: 0 -1px 0 0 color('mystic');
    color: #4f4e5b;
    height: floor($footer-fields-vpad*2 + $footer-fields-font-size*1.2);
    left: 0;
    opacity: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    transform: translateY(100%);
    transition: opacity $timing,
      transform $timing cubic-bezier(0.215, 0.61, 0.355, 1);
    width: 100%;
  }

  input[type='radio'] {
    position: absolute;
    opacity: 0;
    left: 0;
  }

  input[type='radio'] + label {
    @include med;
    padding-top: 30px;
    padding-bottom: 30px;
    @include fluid(padding-left, grid('md') - 1, grid('container'), 20px, 35px);
    @include fluid(padding-right, grid('md') - 1, grid('container'), 20px, 35px);
    margin: 0;
    cursor: pointer;
    transition: background $timing;
    transition: border $timing;

    &::before {
      position: absolute;
      bottom: 100%;
      left: 0;
      height: 0;
      width: 100%;
      background: color('accent-dark');
      transition: height 150ms;
      content: '';
    }

    .text {
      position: relative;
      z-index: 2;
    }

    .icon {
      position: absolute;
      left: 0;
      width: 100%;
      top: 50%;
      font-size: 26px;
      margin-top: -13px;
      text-align: center;
      z-index: 1;
      color: #f3f5fa;
      opacity: 0;
      visibility: hidden;
      transition: all $timing $ease-std;

      &,
      &::before {
        display: block;
        line-height: 1;
      }
    }

    @include hover {
      background: rgba($white, 0.7);
    }
  }

  input[type='radio']:checked + label {
    @include med;
    background: $white;
    color: color('accent-dark');

    &::before {
      height: 3px;
    }

    .icon {
      opacity: 1;
      visibility: visible;
    }

    @include hover {
      background: $white;
    }
  }

  fieldset {
    @include clearfix;
    display: inline-block;
    border-right: 1px solid color('mystic');
  }

  legend {
    @include font-size($footer-fields-font-size);
    @include med;
    float: left;
    line-height: 1.2;
    padding-top: $footer-fields-vpad;
    padding-bottom: $footer-fields-vpad;

    @include fluid(padding-left, grid('md') - 1, grid('container'), 20px, 35px);
    @include fluid(padding-right, grid('md') - 1, grid('container'), 20px, 35px);
  }

  .field-wrap {
    position: relative;
    float: left;
    border-left: 1px solid color('mystic');
  }

  .field-wrap label,
  .check-wrap label {
    text-transform: capitalize;
  }

  .check-wrap--custom {
    position: relative;
    float: right;

    input[type='checkbox'] {
      bottom: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 29px;
      width: 100%;
    }

    input[type='checkbox'] + label {
      @include med;
      padding-top: $footer-fields-vpad;
      padding-bottom: $footer-fields-vpad;
      padding-right: 0;
      padding-left: 35px;
      margin: 0;
      pointer-events: none;
      transition: background $timing;
      transition: border $timing;

      &::before {
        position: absolute;
        bottom: 26px;
        left: 0;
        height: 25px;
        width: 25px;
        border: 1px solid color('mystic');
        background: $white;
        border-radius: 3px;
        transition: border $timing;
        content: '';
      }

      &::after {
        @include icons;
        position: absolute;
        left: 0;
        bottom: 34px;
        width: 25px;
        height: 9px;
        display: block;
        font-size: 9px;
        color: color('accent-dark');
        z-index: 20;
        text-align: center;
        opacity: 0;
        transform: scale(0.5);
        transition: opacity 120ms, transform 120ms;
        content: '\E004';
      }

      @include hover {
        &::before {
          border: 1px solid color('accent-dark');
        }
      }
    }

    input[type='checkbox'] + label span {
      @include font-size($footer-fields-font-size);
      @include med;
      padding: 40px 0 0 0;
    }

    input[type='checkbox']:checked + label {
      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  @include breakpoint(0, 1200px) {
    legend {
      padding: 31px 15px 29px;
    }

    input[type='radio'] + label {
      padding: 31px 20px;
    }
  }

  @include breakpoint(0, 1024px) {
    fieldset {
      legend {
        display: none;
      }
    }
  }

  @include breakpoint(0, 600px) {
    #new-post {
      @include font-size(12);
      padding: 32px 20px 20px;
    }

    button[type='submit'] {
      right: 20px;
    }

    &__footer {
      padding: 0;
      height: 135px;
      background: $white;
    }

    fieldset {
      width: 100%;
    }

    input[type='radio'] + label {
      padding: 15px 20px;
      border-bottom: 1px solid #f1f3f9;
    }

    input[type='radio']:not(:checked) + label {
      background: #f1f3f9;
    }

    .field-wrap {
      width: 50%;
      text-align: center;
    }

    .check-wrap--custom {
      float: none;
      margin-left: 20px;
    }

    // if user has foccessed
    &.is-focused {
      #new-post {
        height: 300px;
        padding-bottom: 135px;
      }
    }
  }

  @include breakpoint(0, 400px) {
    button[type='submit'] {
      min-width: 0;
    }
  }

  @include breakpoint(0, 340px) {
    .check-wrap--custom input[type='checkbox'] + label span {
      font-size: 10px;
    }
  }
}
