.hero--home {
  @include fluid(padding-top, 601px, grid('container'), 40px, 60px);
  @include fluid(padding-bottom, 601px, grid('container'), 40px, 60px);
  margin-bottom: 70px;
  position: relative;
  color: $white;
  background: color('accent-dark');
  background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: Gradient 90s ease infinite;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/plugins/discourse-ahwaa-hero/images/hero-bg.svg) repeat
      left center;
    opacity: 0.04;
    z-index: 5;
    background-size: 465px;
    background-attachment: fixed;
    content: '';
  }

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 10;
  }

  .hero__title {
    @include fluid(font-size, grid('md') - 1, grid('container'), 18px, 35px);
    @include med;
    width: 100%;
    max-width: 600px;
    margin: 0 0 30px 0;
    line-height: 1.4;
  }

  .new-post-form {
    width: 100%;
  }

  @include breakpoint(0, 920px) {
    .hero__title {
      text-align: center;
      margin: 0 auto 30px;
      max-width: 500px;
    }

    .new-post-form {
      margin-bottom: 50px;
    }
  }

  @include breakpoint(0, 600px) {
    .new-post-form {
      margin-bottom: 20px;

      #new-post {
        padding-top: 20px;
        height: 120px;
      }

      &:not(.is-focused) .btn-primary {
        right: 20px;
        width: calc(100% - 40px);
      }
    }
  }

  @media (max-width: grid('mobile-max-width')) {
    padding-left: 0;
    padding-right: 0;
  }
}

.hero .stats {
  display: flex;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;

  &__item {
    @include fluid(font-size, 601px, grid('container'), 12px, 15px);
    @include med;
    width: 33.33%;
    text-align: center;

    &::before {
      @include fluid(font-size, 601px, grid('container'), 50px, 58px);
      display: block;
      color: rgba($white, 0.4);
      margin: 0 0 15px 0;
    }

    em {
      @include fluid(font-size, 601px, grid('container'), 20px, 25px);
      @include med;
      display: block;
      margin: 0 0 2px 0;
      font-style: normal;
      line-height: 1;
    }
  }

  &__item--posts {
    &::before {
      content: '\E007';
    }
  }

  &__item--topics {
    &::before {
      content: '\E005';
    }
  }

  &__item--advice {
    &::before {
      content: '\E006';
    }
  }

  @include breakpoint(0, 920px) {
    margin-bottom: 0;
  }

  @include breakpoint(0, 600px) {
    margin-top: 40px;
  }

  @media (max-width: grid('mobile-max-width')) {
    width: 350px;
    max-width: 100%;
    margin: 15px auto;
  }
}
