.d-modal.fixed-modal {
  &.modal {
    .modal-header {
      border-bottom: none;
      justify-content: center;
      margin-top: 55px;
    }

    .modal-footer {
      border-top: none;
    }

    .modal-close {
      display: none;
    }
  }

  .modal-inner-container {
    border-radius: 3px;
    overflow: hidden;
    padding: 0px 0px 55px;
    position: relative;

    &::before {
      content: "";
      display: block;
      @include rainbow-border;
    }
  }

  form {
    .btn-primary {
      display: block;
      width: 100%;
    }
  }

  .modal-header-inner-container {
    .img {
      display: block;
      margin: 0 auto;
    }

    .modal-title {
      margin: 40px auto 25px;
      text-align: center;
    }
  }

  &:not(.create-account):not(.login-modal) {
    .modal-body,
    .modal-footer {
      max-width: 500px;
      margin: 0 auto;
    }
  }

  &.create-account,
  &.login-modal {
    // the content within this modal is defined in a different way
    form,
    #login-form,
    .decorative-line-composition,
    .modal-footer-inner-container {
      width: 500px;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  a,
  a:visited {
    color: color("mulled-wine");
  }

  .modal-footer-inner-container {
    text-align: center;

    .footer-message {
      max-width: 440px;
    }

    .footer-submessage {
      font-size: 12px;
      opacity: 0.8;
      margin-top: 22px;
      max-width: 370px;
    }

    .footer-message,
    .footer-submessage {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }
}
