:root {
  $input-height: 50px;

  .search-container {
    .search-advanced-sidebar {
      background: transparent;
      width: 400px;

      .search-advanced-filters,
      .search-advanced-title {
        border: 1px solid color("catskill-white");
        border-radius: 3px;
        background: $white;
      }

      .search-advanced-title {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
        font-size: 17px;
        padding: 40px;
      }

      .search-advanced-filters {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 0;
        padding: 0 40px 40px;

        .control-group {
          margin-bottom: 20px;
        }

        .btn-primary.search-cta {
          height: $input-height;
          width: 175px;
          max-width: 100%;
        }
      }

      .search-advanced-options .container {
        padding: 0;
      }

      .controls input[type="text"],
      .controls input[type="number"] {
        height: $input-height;
        padding-left: 20px;
      }
    }
  }

  .select-kit.combo-box .select-kit-header {
    height: $input-height;
    padding-left: 20px;

    &.is-focused {
      box-shadow: none;
    }
  }
}

@media (max-width: grid("mobile-max-width")) {
  :root {
    .search-container {
      .search-advanced-sidebar {
        .search-advanced-title {
          padding: 20px;
        }

        .search-advanced-filters {
          padding: 0 20px 20px;
        }

        .controls input[type="text"],
        .controls input[type="number"] {
          padding-left: 10px;
        }
      }
    }

    .select-kit.combo-box .select-kit-header {
      padding-left: 10px;
    }
  }
}

@media (max-width: grid("handheld")) {
  :root {
    .search-container .search-advanced-sidebar .search-advanced-title {
      padding: 10px 12px;
    }
  }
}
