.search-advanced {
  $input-height: 70px;

  &-sidebar .search-bar input,
  input.full-page-search,
  .btn-primary.search-cta {
    height: $input-height;
  }

  .btn-primary.search-cta {
    padding: 0 20px;
  }

  &-sidebar .search-bar input,
  input.full-page-search {
    background-color: $white;
    border: 1px solid color("catskill-white");
    border-radius: 3px;
    color: color("mulled-wine");
    font-size: 15px;
    padding-left: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
      border-color: color("accent-dark");
      box-shadow: none;
    }
  }
}

.search-bar {
  .btn.btn-primary.search-cta {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
