:root {
  $sidebar-width: 400px;

  .search-container {
    .search-advanced-sidebar,
    .search-advanced {
      max-width: 100%;
    }

    .search-advanced-sidebar {
      width: $sidebar-width;
    }

    .search-advanced {
      width: 100%;

      @media (min-width: grid("tablet-horizontal")) {
        width: calc(100% - #{$sidebar-width});
      }
    }
  }
}

.search-container {
  &.page-header {
    margin-top: 70px;
    margin-bottom: 35px;

    h1 {
      display: block;
      margin-bottom: 0;
      width: 100%;
    }
  }
}

.search-container .search-advanced .search-info {
  border-color: color("catskill-white");
}

.search-results .search-footer {
  margin-top: 40px;
}

.search-info .sort-by .select-kit.combo-box .select-kit-header {
  height: 45px;
  background-color: transparent;
  border: 2px solid color("catskill-white");
  border-radius: 22.5px;
}

.search-highlight {
  color: color("accent-dark");
}
