%accent-gradient {
  background: -webkit-linear-gradient(
    316deg,
    #4c59b5 0%,
    #7d3bcb 70%,
    #b558e9 100%
  );
  background: -o-linear-gradient(316deg, #4c59b5 0%, #7d3bcb 70%, #b558e9 100%);
  background: linear-gradient(46deg, #4c59b5 0%, #7d3bcb 70%, #b558e9 100%);
  color: $white;
}

#reply-control {
  $size-controls-height: 66px;

  &.draft .draft-text,
  .composer-controls .btn-flat i,
  .composer-bottom-right .toggle-preview,
  .save-or-cancel a,
  .composer-action-title,
  .composer-action-title i,
  #draft-status {
    color: $white;
  }

  .composer-controls {
    z-index: z("composer", "dropdown");
  }

  &.hide-preview {
    &,
    .ahwaa-composer {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }

  &.hide-preview .ahwaa-composer {
    .d-editor-textarea-wrapper {
      width: 100%;
    }

    .composer-bottom-right {
      flex-basis: 100%;
    }

    .save-or-cancel {
      top: 10px;
    }
  }

  &.draft,
  .ahwaa-composer {
    @extend %accent-gradient;
  }

  .ahwaa-composer .reply-area {
    padding: 0 15px;
  }

  .presence-users {
    display: none;
  }

  .wmd-controls {
    height: 250px;
  }

  .hide-preview {
    max-width: none;
    width: 100%;
  }

  .grippie {
    background: transparent;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: z("base");

    // locate the grippie within the decorative oval
    right: auto;
    left: calc(50% - 14px);
    top: -10px;
  }

  .category-input {
    color: color("blackish");
    margin-right: 0;
  }

  .submit-panel {
    margin-top: 10px;
    position: relative;
    z-index: z("base");
  }

  .save-or-cancel {
    padding: 0 15px;
    border-top: 1px solid color("mischka");
    background-color: color("catskill-white");
    flex-basis: 60px;
    flex-shrink: 0;

    .anonymous {
      color: $color_1;
      font-weight: bold;

      &:hover {
        color: color("blackish");
      }
    }

    .create {
      margin-left: auto;
    }
  }

  .d-editor-container {
    width: 100%;

    .d-editor-textarea-wrapper,
    .d-editor-preview-wrapper {
      flex: none;
      width: 50%;
    }

    .d-editor-preview-wrapper {
      background: $white;
      border-radius: 3px;
      margin: 0 0 0 15px;
      max-width: none;
      width: auto;
      width: calc(50% - 15px);
    }
  }

  .composer-fields #reply-title,
  .composer-fields .combo-box-header,
  .d-editor-textarea-wrapper,
  .user-selector .users-input .ac-wrap {
    border: none;
    border-radius: 3px;
  }

  .d-editor-preview {
    color: $color_1;
    padding: 15px;
    text-transform: none;
  }

  // special styles only for "create topic" composer
  &.topic {
    .d-editor-preview-wrapper {
      // aesthetic improvement to fullfill all the area above it ~37px is the height of the .title-and-category
      top: -37px;
      position: relative;
      height: calc(100% + 37px);
    }

    .save-or-cancel {
      padding: 0 15px 0 0;

      .create {
        margin-left: 30px;
      }
    }
  }

  .composer-bottom-right {
    flex-direction: row;
    #draft-status {
      flex-grow: 0;
    }

    .toggle-preview {
      margin-left: auto;
    }
  }
}

.autocomplete ul li a.selected {
  background-color: rgba(#000, 0.1);
}

.discourse-no-touch .autocomplete ul li a:hover {
  background-color: rgba(color("accent-light"), 0.15);
}

.private-message .ahwaa-composer .user-selector .users-input {
  width: 50%;

  > .ac-wrap:first-child {
    // there is some injected JS that force the width in this context
    width: 100% !important;
  }
}

:root .ahwaa-composer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  padding: 15px 0 0;
  position: relative;

  .users-input {
    .item span {
      color: color("mulled-wine");
    }

    a .custom-avatar {
      display: inline-block;
    }
  }

  &::after {
    @extend %accent-gradient;
    position: absolute;
    top: 0;
    content: "";
    height: 80px;
    width: 160px;
    border-radius: 50%;
    left: calc(50% - 78px);
    top: -14px;
    z-index: -1;
  }

  &::before {
    background: url("/plugins/discourse-ahwaa-composer/images/hero-bg.svg")
      repeat left center;
    background-attachment: fixed;
    background-repeat: repeat no-repeat;
    background-size: 465px;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.06;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__header {
    color: $white;
    display: none;
    margin: 0 auto;
    text-align: center;

    &-icon {
      font-size: 42px;
    }

    &-title {
      @include med;
      font-size: 22px;
      margin-bottom: 10px;
    }

    &-text {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  footer {
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: auto;
    text-align: center;
  }

  // topic type toggle
  .topic-type-toggle {
    align-items: stretch;
    align-self: stretch;
    color: $color_1;
    display: flex;
    margin-right: auto;

    input[type="radio"] {
      display: none;
    }

    .field-wrap {
      display: flex;
      align-items: stretch;
      border-right: 1px solid color("mystic");

      &:first-child {
        border-left: 1px solid color("mystic");
      }
    }

    input[type="radio"] + label {
      font-weight: 500;
      text-transform: capitalize;
      position: relative;
      align-items: center;
      display: flex;
      cursor: pointer;
      margin: 0;
      padding: 0 20px;
      user-select: none;

      &:hover {
        background: rgba($white, 0.7);
      }

      &::before {
        position: absolute;
        bottom: 100%;
        left: 0;
        height: 0;
        width: 100%;
        background: color("accent-dark");
        transition: height 150ms;
        content: "";
      }

      .icon {
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
        font-size: 26px;
        margin-top: -13px;
        text-align: center;
        z-index: 1;
        color: #f3f5fa;
        opacity: 0;
        visibility: hidden;
        transition: all $timing $ease-std;
      }

      .text {
        position: relative;
        z-index: 2;
      }
    }

    input[type="radio"]:checked + label {
      @include med;
      background: $white;
      color: color("accent-dark");

      &::before {
        height: 3px;
      }

      .icon {
        opacity: 1;
        visibility: visible;
      }

      @include hover {
        background: $white;
      }
    }
  }

  .topic-link {
    color: $white;
  }
}

@media (min-width: grid("mobile-max-width")) {
  #reply-control {
    &.open,
    &.open.edit-title {
      height: 550px;
    }
  }

  :root .ahwaa-composer__header {
    display: block;
  }
}

@media (max-width: grid("mobile-max-width")) {
  :root .ahwaa-composer {
    padding: 5px 0 0;

    footer {
      display: none;
    }

    .mobile-file-upload {
      margin-left: auto;
    }
  }

  #reply-control {
    .submit-panel {
      margin: 3px 0;
    }

    .save-or-cancel {
      flex-basis: 50px;
    }
  }
}

@include breakpoint(0, 1000px) {
  #reply-control.topic {
    .save-or-cancel {
      padding: 0 5px 0 0;

      .create {
        margin-left: 10px;

        padding: 10px 15px;

        .d-button-label {
          display: none;
        }

        i {
          margin-right: 0;
        }
      }
    }

    .ahwaa-composer .reply-area {
      padding: 0 5px;
    }
  }

  :root .ahwaa-composer {
    .topic-type-toggle {
      input[type="radio"] + label {
        padding: 0 10px;
      }
    }
  }
}
