$trust-level-colors: (
  0: #c3c6da,
  1: #e64455,
  2: #52bd79,
  3: #6375db,
  4: #efb908
);

@mixin customIcon($num) {
  @for $i from 0 to $num {
    &.user-trust-level-#{$i} {
      .custom-icon {
        @if $i > 4 {
          color: black;
          // TODO: until we connect all data for all users we will avoid to show trust_level icon where is no data for it
          display: none;
        } @else {
          color: map-get($trust-level-colors, $i);
        }
      }
    }
  }
}

.custom-avatar {
  // as it begins from 0 we will add a top number of 9 to react the unexpected level defined by JS (8)
  @include customIcon(9);
  position: relative;

  .custom-icon {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    // use text-shadow instead -webkit-stroke for more support
    text-shadow: 0px 0px 0 $white, -2px -2px 0 $white, 2px -2px 0 $white,
      -2px 2px 0 $white, 2px 2px 0 $white;
    right: 6px;
  }

  .fps-result .author & .custom-icon {
    display: none;
  }

  .topic-card__author & .custom-icon {
    // avatar on author within topic-list-item listing
    right: 5px;
  }

  .topic-avatar-wrapper & .custom-icon {
    // avatar on author within topic author single page
  }

  .posters & .custom-icon {
    display: none;
  }

  .post-stream & {
    position: static;
  }

  .post-stream & .custom-icon {
    font-size: 14px;
    position: absolute;
    bottom: -3px;
    right: -3px;
  }

  .suggested-topic .topic-card__author & .custom-icon {
    font-size: 15px;
    bottom: 6px;
    right: 0;
  }

  .leaderboard-item .user-avatar &,
  .followed-topic-item .user-avatar & {
    position: absolute;
    bottom: 0;
  }

  .leaderboard-item .user-avatar & .custom-icon,
  .followed-topic-item .user-avatar & .custom-icon {
    bottom: -1px;
    font-size: 10px;
    left: 8px;
    position: absolute;
    right: auto;
  }

  .followed-topic-item .user-avatar & .custom-icon {
    left: 24px;
  }
}
