// Support for containers that renders sidebar

:root:not(.mobile-view) .topic-main-wrapper.has-sidebar,
:root:not(.mobile-view).user-is-logged-in .topic-main-wrapper.has-sidebar,
.container.has-sidebar {
  .sidebar {
    display: block;
    float: right;

    &:not(.solid) {
      width: 290px;
    }
  }
}

.container.has-sidebar {
  // declare the container of list-area and sidebar flex to allow them to show as expected
  .full-width {
    @extend .clearfix;
  }

  .sidebar,
  .sidebar.solid {
    @include sidebar-responsive-styles;
  }

  // "#list-area" is used as a root container for views as the topics feed and it is place inside some Discourse ".row" elements
  #list-area {
    @include content-area-with-right-sidebar;
    // in order to leave space for the sidebar items on desktop
    @media (max-width: grid("mobile-max-width")) {
      float: none;
      max-width: 100%;
      width: 100%;
    }
  }

  :root.user-is-logged-in & {
    #list-area {
      @include sidebar-sibling-content-responsive-styles;
    }
  }
}

// NOTE: overwrite specificity from docked buttons
:root {
  .topic-main-wrapper.has-sidebar {
    #topic-title,
    .container.posts {
      @include content-area-with-right-sidebar;
      max-width: none;
      width: 100%;

      // order matters this include needs to be after any other @media rule within this block
      @include sidebar-sibling-content-responsive-styles(0px);

      @media (min-width: grid("tablet-horizontal")) {
        margin-left: 0;
      }
    }

    & ~ .sidebar {
      @include sidebar-responsive-styles;
    }
  }

  // docked buttons are only present for logged users
  &.user-is-logged-in {
    $buttons-docked-space: 70px;

    .topic-main-wrapper-header {
      @media (min-width: grid("tablet-horizontal")) {
        margin-left: $buttons-docked-space;
      }

      @include sidebar-sibling-content-responsive-styles($buttons-docked-space);
    }

    // add more specificity
    .topic-main-wrapper.topic-main-wrapper {
      #topic-title,
      .container.posts {
        @media (min-width: grid("tablet-horizontal")) {
          margin-left: $buttons-docked-space;
          width: calc(100% - #{$buttons-docked-space});
        }

        @include sidebar-sibling-content-responsive-styles(
          $buttons-docked-space
        );
      }
    }

    // separate styles whenever the layout has or not the sidebar
    .topic-main-wrapper.has-sidebar {
      #topic-title,
      .container.posts {
        @include sidebar-sibling-content-responsive-styles(
          $buttons-docked-space
        );
      }
    }
  }
}

// ---

%sidebar-items {
  border-bottom: 1px solid color("catskill-white");
  margin-bottom: 0;
  padding: 15px 0 10px;
}

:root .sidebar {
  &.solid {
    background: white;
    border-bottom-left-radius: 3px;
    border-bottom: 1px solid color("catskill-white");
    border-left: 1px solid color("catskill-white");
    min-height: 100vh;
    padding: 55px 45px;
    position: absolute;
    right: 0;
    top: 130px;
    width: 380px;
  }

  .sidebar-heading,
  .sidebar-heading > * {
    @include med;
    font-size: 18px;
    margin-bottom: 24px;
    padding: 0;
  }

  .sidebar-heading {
    a,
    a:visited {
      color: color("mulled-wine");
    }

    .title-action {
      @include med;
      font-size: 10px;

      &,
      a {
        color: #87878f;
      }
    }
  }

  .sidebar-items {
    > *:nth-child(n + 2) {
      margin-top: 50px;
    }
  }

  .sidebar-reply-item,
  .sidebar-post-item {
    @extend %sidebar-items;
  }

  .directory {
    margin: 0;
  }

  .sidebar-reply-item .excerpt {
    @include clamp-text(2, 1.4);
  }

  .sidebar-reply-item .item-title {
    @include clamp-text(1, 1.4);
  }

  @media (max-width: grid("mobile-max-width")) {
    &.solid {
      top: 65px;
    }
  }
}

/*
 * Generic structure
 */
.ahwaa-sidebar-item {
  @extend %sidebar-items;
  display: flex;
  flex-direction: row;
  align-items: center;

  img.emoji {
    height: 1em;
    width: 1em;
  }

  a {
    display: block;
    width: 100%;
  }

  a,
  a:active,
  a:visited {
    color: color("mulled-wine");
  }

  .inner-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .metadata {
    margin-left: 16px;
    width: 100%;
  }

  .main-data {
    @include clamp-text(1, 1.4);
    @include med;
    font-size: 13px;
    color: color("mulled-wine");
    margin-bottom: 4px;

    a {
      display: inline;
      pointer-events: none;
    }
  }

  .secondary-data {
    @include clamp-text(1, 1.4);
    font-weight: normal;
    font-size: 12px;
    color: #87878f;
  }

  .main-data,
  .secondary-data {
    max-width: 250px;
  }

  .decorative-image {
    align-items: center;
    background-color: #f1f3f9;
    border-radius: 100%;
    border-top: 0;
    display: flex;
    height: 35px;
    justify-content: center;
    // min-width so avoid the flex distribution affects its width
    min-width: 35px;
    padding: 0;
    width: 35px;

    i {
      font-size: 10px;
    }
  }

  &.notification-item {
    i {
      color: #60bfd1;
    }
  }

  &.action-item {
    i {
      color: #835fd6;
    }
  }
}

/*
 * Ask for Help
 */

.sidebar-support {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .icon {
    color: #dbdee6;
    font-size: 40px;
  }

  .support-text {
    @include med;
    color: color("mulled-wine");
    font-size: 12px;
    margin: 6px auto 8px;
  }
}

/*
 * Followed topics
 */

.sidebar-followed-topics .sidebar-heading {
  display: flex;

  > a {
    margin-bottom: 0;
  }

  .title-action {
    margin-left: auto;
    margin-bottom: 4px;
    align-self: flex-end;
  }
}

/*
 * leaderboard
 */

.leaderboard-item {
  @extend %sidebar-items;
  display: flex;
  flex-direction: row;
  align-items: center;

  .user-avatar {
    background-color: #f1f3f9;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    width: 43px;

    > div:first-child {
      // needed for the avatar flair customization
      position: relative;
    }

    .leaderboard-position {
      @include med;
      align-items: center;
      bottom: 0;
      display: flex;
      font-size: 13px;
      position: absolute;
      right: 5px;
      top: 0;
      z-index: z("base");
    }

    &::after {
      background-color: #f1f3f9;
      bottom: 0;
      border-radius: 100%;
      content: "";
      display: block;
      position: absolute;
      right: -16px;
      top: 0;
      width: 32px;
    }

    .poster {
      margin-left: -16px;
    }
  }

  .metadata {
    margin-left: 16px;
  }

  .main-data {
    @include med;
    font-size: 13px;
    color: color("mulled-wine");
  }

  .secondary-data {
    font-weight: normal;
    font-size: 12px;
    color: #87878f;
  }
}

.ahwaa-sidebar-item:not(.leaderboard-item) .user-avatar > div:first-child {
  position: relative;
}
