<div class="basic-user-list-entry">
  <div class="user-avatar">
    <div class="user-avatar--inner">
      <a href="{{unbound userPath}}" data-user-card="{{unbound user.username}}">{{avatar user imageSize="large"}}</a>
    </div>
  </div>
  <div class="metadata metadata-has-pill">
    <div class="metadata--inner">
      <div class="user-name trigger-data-card main-data">
        <span class="username">
          <a href="{{unbound userPath}}" data-user-card="{{unbound user.username}}">
            {{format-username user.username}}
          </a>
        </span>
      </div>
      <div class="secondary-data">
        {{#if memberSinceYear.isFulfilled}}
          {{i18n 'ahwaa.members_since'}} {{memberSinceYear.content}}
        {{/if}}
      </div>
    </div>
    <div class="counter-pill">
      <div class="counter-pill__number">{{number user.count}}</div>
      <div class="counter-pill__icon">{{d-icon icon}}</div>
    </div>
  </div>
</div>
