<div class="topic-card topic-card--listing">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="row align-items-center row-content">
          <div class="col col-author">
            <div class="topic-card__author">
              {{!-- TODO: in order to display the topic author avatar we need to fetch that data and modify the user-stream-item component with a new compoted property --}}
              <a href={{item.userUrl}} data-user-card={{item.username}} class='avatar-link'>
                <div class='avatar-wrapper'>
                  {{avatar item imageSize="extra_large" extraClasses="actor" ignoreTitle="true"}}
                </div>
              </a>
            </div>
          </div>
          <div class="col col-metadata">
            <div class="row">
              <div class="col">
                <h2 class="topic-card__title">
                  {{topic-status topic=item disableActions=true}}
                  <a class="title" href={{item.postUrl}}>{{{item.title}}}</a>
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="topic-card__excerpt">
                  {{{item.excerpt}}}

                  {{#unless isUncategorizedCategory}}
                    {{i18n 'ahwaa.published_under'}}&nbsp;<span class="category">{{category-link item.category}}</span>
                  {{/unless}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
