<div class="basic-user-list-entry">
  {{#if topicAuthor.isFulfilled}}
    <div class="user-avatar">
      <div class="user-avatar--inner">
        {{avatar topicAuthor.content imageSize="large"}}
      </div>
    </div>
  {{/if}}
  <div class="metadata">
    <div class="main-data">
      <a href="{{unbound url}}">{{{topic.fancyTitle}}}</a>
    </div>
    <div class="user-name trigger-data-card secondary-data secondary-data-has-likes">
      <span class="likes-counter">
        <i class="custom-icon fa fa-heart"></i>
        <span class="counter-number">{{number likes}} Likes</span>
      </span>
      {{#unless topic.category.isUncategorizedCategory}}
        <span class="post-type question">{{topic.category.name}}</span>
      {{/unless}}
    </div>
  </div>
</div>
