.list-controls {
  flex-direction: row;
  display: flex;
  margin-bottom: 28px;
  margin-top: 65px;

  .nav {
    margin-right: 0;
  }

  .navigation-toggle .toggle-link {
    width: 150px;
    display: flex;

    i {
      margin-left: auto;
    }
  }

  :root & .topic-list-title {
    // as the default placeholder has the !important statement to make it useful
    margin: 0 !important;
  }

  .navigation-container {
    display: flex;
    margin-left: auto;

    #create-topic,
    .category-breadcrumb {
      display: none;
    }
  }

  .nav.nav-pills {
    align-items: flex-end;
    display: flex;
    margin-bottom: 0;

    li {
      margin: 0;
    }

    li + li {
      margin-left: 50px;
      margin-right: 0;
    }

    li:last-of-type {
      margin-left: 0;
    }

    li a:not(.toggle-link) {
      color: #4f4e5b;
      font-size: 14px;
      padding: 0;
      text-transform: capitalize;
      transition: opacity 0.15s;

      &:hover {
        background-color: transparent;
        opacity: 0.7;
      }
    }

    li.active a {
      @include med;
      background-color: transparent;
      color: #505ec0;
    }
  }
}

@media (max-width: 600px) {
  .list-controls {
    margin-top: 20px;
    margin-bottom: 15px;

    .nav-pills > li > a:hover {
      background-color: inherit;
      color: inherit;
    }
  }
}
