.select-kit {
  // specific behavior for categories-bar-dropdown on selected
  &.dropdown-select-box.categories-bar-dropdown .select-kit-row.is-selected {
    background-color: transparent;
  }

  // generic behavior on selected
  &.dropdown-select-box .select-kit-row.is-selected {
    background-color: rgba(#000, 0.1);
    color: $white;
  }

  &.dropdown-select-box.is-expanded .select-kit-collection,
  &.dropdown-select-box.is-expanded .select-kit-body {
    border-radius: 3px;
    border: none;
  }

  .dropdown-select-box &-body {
    // leave room for triangle
    margin-top: 14px;

    &::before {
      @include triangle-down(14px);
      content: "";
      display: block;
      position: absolute;
      right: 7px;
      top: -12px;
    }
  }

  .select-kit.dropdown-select-box &-row {
    padding: 20px 10px 20px 24px;
  }

  &-row.dropdown-select-box-row {
    position: relative;

    &.is-highlighted {
      background-color: #f7f8fb !important;

      &::before {
        background: linear-gradient(
          to bottom,
          darken(color("accent-dark"), 5%),
          darken(color("accent-light"), 5%)
        );
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        width: 5px;
      }
    }
  }

  // Period chooser specifics
  &.period-chooser
    .is-selected:not(.is-highlighted).period-chooser-row
    .date-section,
  &.period-chooser
    .is-selected:not(.is-highlighted).period-chooser-row
    .top-date-string {
    color: $white;
  }

  &.dropdown-select-box.period-chooser .select-kit-collection {
    padding: 0;
  }

  &.dropdown-select-box.period-chooser .period-chooser-row {
    padding: 10px 0 10px 12px;
  }

  &.period-chooser .select-kit-body {
    margin-top: 0;
  }
}

.custom-dropdown {
  border-radius: 3px;
  border: none;

  &-item {
    border-top: 1px solid #ebebeb;
    display: block;
    font-weight: 500;
    padding: 0;
    position: relative;

    > a,
    > button.btn-flat,
    > button.btn,
    > * {
      display: block;
      padding: 10px 20px;
      width: 100%;
      text-align: left;
    }

    &,
    a,
    a:visited,
    a:active,
    .d-button-label {
      color: #4f4e5b;
    }

    &,
    .d-button-label {
      text-transform: capitalize;
    }

    :root:not(.touch) &:hover {
      background-color: rgba(#000, 0.05);

      &::before {
        background: linear-gradient(
          to bottom,
          darken(color("accent-dark"), 5%),
          darken(color("accent-light"), 5%)
        );
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        width: 5px;
      }
    }
  }
}
