.category-bar {
  $items-background: color("steel-grey");
  $vertical-pad-link: 28px;
  $font-size-link: 15px;

  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;

  &-container {
    background: $items-background;
    box-shadow: 0px 2px 10px rgba(#000, 0.1);
    // NOTE: manipulate overflow here may lead to hide "dropdown more"
    height: $vertical-pad-link*2 + $font-size-link;
    position: relative;
    width: 100%;

    // rainbow border
    &::after {
      @include rainbow-border;
      bottom: 0;
      content: '';
      display: block;
      position: absolute;
    }
  }

  &-item {
    @include med;
    background: $items-background;
    border-right: 1px solid rgba($white, 0.11);
    font-size: $font-size-link;
    line-height: 1;

    &:first-child {
      border-left: 1px solid rgba($white, 0.11);
    }

    a, a:visited { color: $white }

    &.category-bar-item--dropdown {
      cursor: pointer;
    }
  }

  &-link {
    color: color("alabaster");
    display: block;
    padding: $vertical-pad-link 36px;
    text-transform: capitalize;

    span.d-button-label.selected-name {
      text-transform: capitalize;
    }

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    &:hover {
      color: color("alabaster");
    }
  }

  .categories-bar-dropdown {
    position: relative;

    .dropdown-select-box-header {
      background: none;
      border: none;
      font-size: $font-size-link;
      outline: none !important;
      padding: 0;
    }

    .dropdown-select-box-header,
    .d-icon {
      color: $white;
      opacity: 1;
    }

    .select-kit-body {
      opacity: 1;
    }
  }
}

// Positioning for dropdown "more"
.category-bar {
  &-container {
    display: flex;
    justify-content: center;
  }
}

.dropdown-structure {
  background: color("steel-grey");
  border-right: 1px solid rgba($white, 0.11);
  display: flex;
}

@media (max-width: grid('mobile-max-width')) {
  .category-bar {
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    overflow-y: scroll;

    &-container {
      height: 100vh;
      height: calc(100vh - 59px);
      position: absolute;
      transform: translateY(calc(-100% + 65px));
      transition: transform 0.2s ease-out;

      :root.category-bar-toggled & {
        transform: translateY(60px);
        z-index: -1;
      }
    }

    &-link { padding: 15px 10px 14px; }

    &-item {
      font-size: 13px;
      text-align: center;

      & + & {
        border-top: 1px solid rgba($white, 0.1);
      }
    }
  }

  .d-header .wrap {
    background-color: $white;
    z-index: z('base');
  }
}
