// need other triangle? check: https://css-tricks.com/snippets/css/css-triangle/

@mixin triangle-down($size: 14px, $color: white) {
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;

  border-bottom: $size solid $color;
}
