:root {
  .user-main {
    margin-top: 0;

    .about .details .primary-textual .username.clamp-text-1 {
      max-width: 150px;
      width: 100%;
    }
  }

  .user-table {
    margin-top: 15px;

    .stats-section {
      margin-bottom: 30px;
    }
  }
}
