.user-table {
  .user-navigation {
    width: 0px;
  }

  .user-right {
    width: 100%;
  }
}

.mobile-view .mobile-nav.messages-nav,
.mobile-view .mobile-nav.notifications-nav,
.mobile-view .mobile-nav.activity-nav,
.mobile-view .mobile-nav.preferences-nav {
  top: -50px;
}
