.user-main .about {
  .details .primary .avatar {
    margin-left: 0;
  }

  .primary .controls ul li:not(:first-of-type) {
    margin-top: 5px;
    margin-left: 0;
  }

  &.collapsed-info {
    .details .primary {
      .username {
        transform: translate3d(-65px, 3px, 0);
      }

      .controls {
        position: relative;
        top: 32px;
      }

      .avatar {
        margin: 5px 5px 50px -5px;
      }
    }
  }

  body:not(.staff) &:not(.collapsed-info) {
    .primary .controls ul .btn.compose-pm {
      margin-right: 0;
    }
  }

  body.staff &:not(.collapsed-info) {
    .controls {
      top: -45px;
      position: relative;

      ul {
        align-items: stretch;
        flex-direction: column;

        .btn.compose-pm {
          margin-right: 0;
          margin-bottom: 5px;
        }
      }
    }

    .details .primary-textual .username {
      bottom: 130px;
    }

    .secondary dl {
      top: -120px;
    }
  }

  .details .user-profile-avatar .avatar {
    top: 0;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: -10px;
  }

  .details .primary-textual .username {
    bottom: 100px;
    left: 125px;
  }

  .controls li {
    margin: 0;
  }

  .secondary dl {
    left: 140px;
    top: -90px;
  }
}
