.user-table .user-preferences {
  padding: 0;

  .control-group .control-label {
    margin-bottom: 10px;
  }

  .form-vertical .control-group {
    padding: 15px;
  }

  .control-group {
    .controls + .instructions {
      margin: 5px 0 0;
    }
  }
}
