<div class="field-wrap">
  <input type="radio" name="topic-type" id="topic-type-story" value="story" checked="{{if isStory "checked"}}" onchange={{action "changed"}}>
  <label for="topic-type-story">
    <span class="text">{{i18n 'ahwaa_hero.composer_category_story'}}</span>
    <span class="icon icon-icn_09story"></span>
  </label>
</div>
<div class="field-wrap">
  <input type="radio" name="topic-type" id="topic-type-question" value="question" checked="{{if isQuestion "checked"}}" onchange={{action "changed"}}>
  <label for="topic-type-question">
    <span class="text">{{i18n 'ahwaa_hero.composer_category_question'}}</span>
    <span class="icon icon-icn_10question"></span>
  </label>
</div>
