<div class="composer-controls">
  {{#if site.mobileView}}
    {{flat-button
      class="toggle-toolbar"
      icon="bars"
      action=toggleToolbar}}
  {{/if}}

  {{flat-button
    class="toggler"
    icon=toggleIcon
    action=toggleComposer
    title=title}}

  {{#if isComposerOpen}}
    {{flat-button
      class="toggler composer-cancel"
      icon="times"
      action=closeComposer
      title="composer.abandon"}}
  {{/if}}
</div>
