// .topic-body { overflow: visible; }
// .post-menu-area { clear: both; }
// .topic-avatar { position: static; }

.retort-wrapper {
  &,
  &__row {
    @extend .clearfix;
  }

  &__row {
    // to overcome the left margin of all reactions on the left edge of the wrapper
    margin-left: -4px;
  }
}

.post-retort {
  background: #dfdfff;
  float: left;
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid #ccf;
  position: relative;
  outline: 0;
  // NOTE: the extra right space is always preset as we force the counter to be always present too
  padding-right: 10px;
  margin-right: 10px;

  &:hover .post-retort__tooltip {
    opacity: 1;
  }

  &__tooltip {
    opacity: 0;
    transition: 0.5s opacity;
    position: absolute;
    top: 35px;
    font-size: 12px;
    text-align: center;
    width: 140px;
    background: black;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    word-wrap: normal;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    pointer-events: none;

    &:after {
      content: " ";
      width: 7px;
      height: 7px;
      top: 0;
      left: 39px;
      transform: rotate(45deg) translate(-50%, 0);
      position: absolute;
      background: black;
    }
  }

  &__count {
    font-size: 12px;
    padding: 1px;
    position: relative;
    bottom: 3px;
    left: 1px;
    font-weight: bold;
    color: #777;
  }
}

.retort__emoji-picker-wrapper {
  &--limited .emoji-picker {
    height: auto !important;
    flex-wrap: wrap;
    justify-content: center;

    button.emoji {
      display: block;
      width: 40px;
      height: 40px;
      background-size: 40px;
      margin: 0;
      padding: 10px 0;
    }
  }

  &--active {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    > .ember-view {
      width: 400px;
      height: 300px;
    }

    .emoji-picker {
      bottom: auto !important;
    }
  }
}

@media (max-width: grid("sm")) {
  :root .post-retort {
    &__count {
      border-radius: 10px;
      padding: 5px 15px 5px 10px;
      margin-left: 3px;

      &::before,
      &::after {
        top: 3px;
      }
    }

    &__tooltip {
      &::after {
        left: 49px;
      }
    }
  }
}
