<span class='num posts-map posts posters--count {{view.likesHeat}}' title='{{view.title}}'>
  <a href class='posts-map badge-posts {{view.likesHeat}}'>
    {{raw-plugin-outlet name="topic-list-before-reply-count"}}
    {{number topic.replyCount noTitle="true"}}
    &nbsp;<span>comments</span>
  </a>
</span>
