<div class="posters">
  {{#each posters as |poster|}}
    <div class="posters-inner-container avatar-bubble-container">
      <div class="avatar-bubble">
        {{avatar poster avatarTemplatePath="user.avatar_template" usernamePath="user.username" imageSize="large"}}
        <h3 class="bubble__title">{{poster.user.username}}</h3>
        <span class="bubble__meta">{{poster.description}}</span>
      </div>
      <a href="{{poster.user.path}}" data-user-card="{{poster.user.username}}" class="{{poster.extraClasses}}">
        {{avatar poster avatarTemplatePath="user.avatar_template" usernamePath="user.username" imageSize="small"}}
      </a>
    </div>
  {{/each}}
</div>
