{{#unless suggestedTopicsLayout}}
{{#if expandPinned}}
  <div class="topic-card expand-pinned topic-card--listing">
{{else}}
  <div class="topic-card topic-card--listing">
{{/if}}
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-9 col-xs-12">
          <div class="row align-items-center row-content">
            <div class="col col-author">
              {{#if bulkSelectEnabled}}
              <div class="bulk-select" style="float: left;">
                <input type="checkbox" class="bulk-select">
              </div>
              {{/if}}
              <div class="topic-card__author">
                <a href="{{topic.creator.path}}">
                  {{avatar topic.creator imageSize="extra_large"}}
                </a>
              </div>
            </div>
            <div class="col col-metadata">
              <div class="row">
                <div class="col">
                  <h2 class="topic-card__title">
                    {{#unless site.mobileView}}
                      {{raw-plugin-outlet name="topic-list-before-status"}}
                      {{raw "topic-status" topic=topic}}
                    {{/unless}}

                    {{#if showTopicPostBadges}}
                      {{raw "topic-post-badges" unread=topic.unread newPosts=topic.displayNewPosts unseen=topic.unseen url=topic.lastUnreadUrl}}
                    {{/if}}

                    {{topic-link topic}}

                    {{#if topic.featured_link}}
                      {{topic-featured-link topic}}
                    {{/if}}

                    {{raw-plugin-outlet name="topic-list-after-title"}}
                  </h2>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="topic-card__excerpt">
                    {{#unless site.mobileView}}
                      {{#if expandPinned}}
                        {{raw "list/topic-excerpt" topic=topic}}
                      {{/if}}

                      <a class="excerpt--author-name" href="{{topic.creator.path}}">
                        {{topic.creator.username}}
                      </a>

                      {{#unless topic.isPrivateMessage}}
                        {{i18n 'ahwaa.posted_a'}}
                        <span class="post-type question">{{i18n topic.topicTypeI18n}}</span>
                      {{/unless}}

                      {{#unless hideCategory}}
                        {{#unless topic.isPinnedUncategorized}}
                          {{#unless topic.category.isUncategorizedCategory}}
                            {{i18n 'ahwaa.published_under'}}&nbsp;{{raw "list/category-column" category=topic.category}}
                          {{/unless}}
                        {{/unless}}
                      {{/unless}}
                      &nbsp;
                      {{discourse-tags topic mode="list"}}
                    {{else}}
                      <a class="excerpt--author-name" href="{{topic.creator.path}}">
                        {{topic.creator.username}}
                      </a>

                      {{#unless topic.isPrivateMessage}}
                        {{i18n 'ahwaa.posted_a'}}
                        <span class="post-type question">{{i18n topic.topicTypeI18n}}</span>
                      {{/unless}}
                    {{/unless}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 hidden-sm-down">
          {{#if topic.replyCount}}
            <div class="topic-card__posters posters-count-{{topic.posters.length}}">
              <div class="row">
                <div class="col">
                  {{#if showPosters}}
                    {{raw "list/posters-column" posters=topic.posters}}
                  {{/if}}
                  {{#if showParticipants}}
                    {{raw "list/posters-column" posters=topic.participants}}
                  {{/if}}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  {{raw "list/posts-count-column" topic=topic}}
                </div>
              </div>
            </div>
          {{else}}
            {{#unless topic.pinned}}
              <div class="row">
                <div class="col">
                  <div class="btn-conversation-container">
                    {{topic-link topic class="btn btn-primary btn-conversation" title="ahwaa.start_conversation"}}
                  </div>
                </div>
              </div>
            {{/unless}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{else}}
  {{!-- NOTE: layout used only for suggested topics --}}
  <div class="topic-card suggested-topic">
    <div class="container-fluid suggested-topic__inner-container">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col col-author">
              {{#if bulkSelectEnabled}}
              <div class="bulk-select" style="float: left;">
                <input type="checkbox" class="bulk-select">
              </div>
              {{/if}}
              <div class="topic-card__author">
                <a href="{{topic.creator.path}}">
                  {{avatar topic.creator imageSize="huge"}}
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h2 class="topic-card__title">
                {{raw-plugin-outlet name="topic-list-before-status"}}

                {{raw "topic-status" topic=topic}}
                {{topic-link topic}}
                {{#if topic.featured_link}}
                  {{topic-featured-link topic}}
                {{/if}}

                {{raw-plugin-outlet name="topic-list-after-title"}}
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="topic-card__posters posters-count-{{topic.posters.length}}">
            <div class="row">
              <div class="col">
                {{#if showPosters}}
                  {{raw "list/posters-column" posters=topic.posters}}
                {{/if}}
                {{#if showParticipants}}
                  {{raw "list/posters-column" posters=topic.participants}}
                {{/if}}
              </div>
            </div>
            <div class="row">
              <div class="col">
                {{raw "list/posts-count-column" topic=topic}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/unless}}
