{{#create-account email=accountEmail disabled=submitDisabled action="createAccount"}}

  {{#unless complete}}
    <div class="modal-header-inner-container">
      <div class="container-fluid">
        <div class="row decorative-line-row">
          <div class="col">
            <div class="decorative-line-composition">
              <div class="decorative-line"><!-- empty --></div>
              <img class="img" src="/plugins/discourse-ahwaa-session/images/avatars_group.png" alt="avatars">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h1 class="modal-title">{{i18n 'ahwaa_session.signup.title'}}</h1>
          </div>
        </div>
      </div>
    </div>


    {{#d-modal-body}}
      {{#if showCreateForm}}
        <div>
          <form>
            {{input type="email" value=accountEmail placeholderKey="ahwaa_session.email_placeholder" id="new-account-email" disabled=emailValidated name="email" autofocus="autofocus"}}
            {{#if usernameRequired}}
              {{input value=accountUsername id="new-account-username" placeholderKey="ahwaa_session.nickname" name="username" maxlength=maxUsernameLength autocomplete="off"}}
            {{/if}}

            {{plugin-outlet name="create-account-before-password"
                            args=(hash accountName=accountName
                                       accountUsername=accountUsername
                                       accountPassword=accountPassword
                                       userFields=userFields)}}

            {{#if passwordRequired}}
              {{password-field value=accountPassword placeholderKey="ahwaa_session.password" type="password" id="new-account-password" capsLockOn=capsLockOn}}
            {{/if}}
            <button class='btn btn-large btn-primary' disabled={{submitDisabled}} {{action "createAccount"}}>{{i18n 'create_account.title'}}</button>
          </form>
        </div>
      {{/if}}
    {{/d-modal-body}}

    <div class="modal-footer">
      <div class="modal-footer-inner-container">
        <p class="footer-message">{{i18n 'ahwaa_session.privacy_suggestion'}}</p>
        <p class="footer-submessage">{{i18n 'ahwaa_session.signup.terms'}}</p>
        <a id="have-account-link" class="footer-submessage" {{action "showLogin"}}>{{i18n 'ahwaa_session.have_account_question'}}</a>
      </div>
      {{#if authenticate}}
        &nbsp;{{i18n 'login.authenticating'}}
      {{/if}}
    </div>
  {{/unless}}
{{/create-account}}
