{{#login-modal screenX=lastX screenY=lastY loginName=loginName loginPassword=loginPassword loginSecondFactor=loginSecondFactor action="login"}}

  <div class="modal-header-inner-container">
    <div class="container-fluid">
      <div class="row decorative-line-row">
        <div class="col">
          <div class="decorative-line-composition">
            <div class="decorative-line"><!-- empty --></div>
            <img class="img" src="/plugins/discourse-ahwaa-session/images/avatars_group.png" alt="avatars">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1 class="modal-title">{{i18n 'ahwaa_session.login.title'}}</h1>
        </div>
      </div>
    </div>
  </div>

  {{#d-modal-body class="login-modal"}}
    {{#if canLoginLocal}}
      <form id='login-form' method='post'>
        <div id="credentials">
          {{text-field value=loginName placeholderKey="ahwaa_session.email_placeholder" id="login-account-name" autocorrect="off" autocapitalize="off" autofocus="autofocus"}}
          {{password-field value=loginPassword placeholderKey="ahwaa_session.password" type="password" id="login-account-password" maxlength="200" capsLockOn=capsLockOn}}
        </div>
        {{#if canLoginLocal}}
          {{d-button action="login"
            label=loginButtonLabel
            disabled=loginDisabled
            class='btn btn-large btn-primary'}}
        {{/if}}
      </form>
    {{/if}}

  {{/d-modal-body}}

  <div class="modal-footer">
    <div class="modal-footer-inner-container">
      <a id="forgot-password-link" class="footer-submessage mt-0 mb-4" {{action "forgotPassword"}}>{{i18n 'ahwaa_session.forgot_password'}}</a>
      <p class="footer-message">{{i18n 'ahwaa_session.privacy_suggestion'}}</p>
      <a id="create-account-link" class="footer-submessage" {{action "showCreateAccount"}}>{{i18n 'ahwaa_session.not_have_account'}}</a>
    </div>
    {{#if authenticate}}
      &nbsp;{{i18n 'login.authenticating'}}
    {{/if}}

    {{conditional-loading-spinner condition=showSpinner size="small"}}
  </div>
{{/login-modal}}
