footer#main-footer {
  margin-top: 100px;
  margin-bottom: 50px;

  .block-support {
    margin-bottom: 70px;
  }
}

.ahwaa-footer {
  color: #87878f;
  display: block;
  font-size: 12px;
  text-align: center;

  a,
  a:visited {
    color: #87878f;
    text-decoration: underline;
  }
}

.block-support {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  display: none;

  .icon {
    color: #dbdee6;
    font-size: 40px;
  }

  .support-text {
    @include med;
    color: color("mulled-wine");
    font-size: 12px;
    margin: 6px auto 8px;
  }

  body[class*="user-"] & {
    display: flex;
  }
}

// REVIEW: Below is used what is supposed to be classes on "body" that indicates the footer
// should take into count the sidebarblock to be centered as expected

body.navigation-topics {
  .ahwaa-footer {
    width: 100%;

    // in order to leave space for the sidebar items on desktop
    @media (min-width: grid("mobile-max-width")) {
      @include content-area-with-right-sidebar;
    }
  }
}
