{{#unless currentUser}}
  {{mount-widget widget="hero-composer-container"}}
{{/unless}}

<div class="container">
  {{discourse-banner user=currentUser banner=site.banner}}
</div>

<div class="container list-container  {{if siteSettings.sidebar_enable "has-sidebar"}}">
  <div class="row">
    <div class="full-width">
      {{conditional-loading-spinner condition=loading}}
      <div id="header-list-area">
        {{outlet "header-list-container"}}
      </div>
    </div>
  </div>
  <div class="row {{if loading "hidden"}}">
    <div class="full-width">
      {{#if siteSettings.sidebar_enable}}
        {{!-- because whenever the user is logged in the layout changes --}}
        {{#unless currentUser}}
          <h2 class="topic-list-title">{{i18n 'ahwaa.featured_topics'}}</h2>
        {{/unless}}
      {{/if}}
      <div id="list-area">
        {{#if currentUser}}
          {{!--move list controls to be within teh list-area bounderies --}}
          <div class="list-controls">
            <h2 class="topic-list-title">{{i18n 'ahwaa.topics'}}</h2>
            {{outlet "navigation-bar"}}
          </div>
        {{/if}}
        {{plugin-outlet name="discovery-list-container-top"
                        args=(hash category=category)}}
        {{outlet "list-container"}}
      </div>
      {{#if siteSettings.sidebar_enable}}
        {{#unless currentUser}}
          <div id="sidebar-blocks" class="sidebar">
            {{mount-widget widget="sidebar-items"}}
          </div>
        {{/unless}}
      {{/if}}
    </div>
    {{#if siteSettings.sidebar_enable}}
      {{#if currentUser}}
        <div id="sidebar-blocks" class="sidebar solid user-is-logged-in">
          {{mount-widget widget="sidebar-items"}}
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>

{{plugin-outlet name="discovery-below"}}
