.select-kit.dropdown-select-box .dropdown-select-box-header.is-focused {
  outline: none;
}

.btn {
  @include avoid-select-text;
  @include med;
  background-color: color("catskill-white");
  border-radius: 3px;
  color: color("mulled-wine");
  font-size: 12px;

  &:hover {
    background-color: rgba(color("catskill-white"), 0.6);
    color: inherit;
  }

  &,
  &:focus {
    outline: none;
  }
}

:root .expander {
  background-color: color("catskill-white");
}

.btn.btn-icon-text {
  // this give a little more of room for icon to display
  padding-left: 20px;
  padding-right: 20px;

  .fa-flag {
    & + .d-button-label {
      position: relative;
      top: -2px;
    }
  }
}

.btn-grey {
  background-color: #f1f3f9;
  border-radius: 25px;
  color: color("grey-med");
  font-size: 12px;
  max-width: 100%;
  min-width: 160px;
  padding: 14px 0;

  &,
  .d-label {
    color: color("grey-med") !important;
    text-transform: none;
  }

  &:hover {
    &,
    .d-label {
      color: rgba(color("grey-med"), 0.6) !important;
    }
  }
}

.btn-primary {
  $label-layer: 10;
  $pad: 1rem;

  @include med;
  background-color: #5a59bb;
  // rounded borders
  border-radius: 25px;
  color: $white;
  outline: none;
  overflow: hidden;
  padding: $pad;
  position: relative;

  &[disabled],
  &.disabled {
    background: color("accent-light");
  }

  // NOTE: to overcome the label over the background layer
  > * {
    position: relative;
    z-index: z("base") + 1;
  }

  &:hover,
  &:active {
    background-color: #4c59b5;
    color: $white;
  }
}

@media (max-width: grid("mobile-max-width")) {
  .btn-primary,
  .btn-primary.btn-header-cta {
    &::before {
      border-radius: 0;
    }
  }
}
