.decorative-line {
  $img-height: 60px;

  height: 1px;
  position: absolute;
  top: ($img-height/2);
  left: 0;
  width: 100%;

  &-composition {
    margin: 0 auto;
    position: relative;
  }

  &-row {
    &,
    .img {
      position: relative;
    }

    .img {
      height: $img-height;
    }
  }

  &,
  &::before,
  &::after {
    background-color: color("catskill-white");
  }

  &::before,
  &::after {
    border-radius: 100%;
    content: "";
    display: block;
    height: 6px;
    position: absolute;
    top: -3px;
    width: 6px;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}
