%basic-input-styles {
  $input-background-color: color("catskill-white");
  $input-border-radius: 3px;

  background: $input-background-color;
  border: 2px solid $input-background-color;
  border-radius: $input-border-radius;
  display: block;
  width: 100%;

  &:focus {
    border-color: color("accent-dark");
    box-shadow: none;
  }
}

form {
  $input-pad-vertical: 17px;
  $input-pad-horizontal: 12px;

  margin: 0;

  .ember-text-field {
    @extend %basic-input-styles;
    margin-bottom: 20px;
    padding: $input-pad-vertical $input-pad-horizontal;

    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  .modal & .btn-primary {
    align-items: center;
    border-radius: 35px;
    display: flex;
    height: 57px;
    padding: 0 10px;
  }
}

.controls .ac-wrap {
  border: 0;

  input[type="text"] {
    @extend %basic-input-styles;
  }
}

.search-container .search-advanced-sidebar #search-min-post-count,
.search-container .search-advanced-sidebar .date-picker,
#google-search input {
  @extend %basic-input-styles;
}

#google-search input {
  width: auto;
  display: inline-block;
  margin-bottom: 0;
  height: 34px;
}

.search-container .search-bar .search-query {
  margin-right: 0;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  text-transform: capitalize;
}

:root .select-kit.combo-box .select-kit-header {
  @extend %basic-input-styles;
  border: 1px solid color("catskill-white");
  border-radius: 3px;
  display: flex;

  &:focus {
    border-color: color("accent-dark");
    box-shadow: none;
  }
}

:root textarea {
  -webkit-appearance: none;
  background: white;
  border-radius: 8px;
  border: 0;
  display: block;
  font-family: "Graphik Web", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.4;
  padding: 15px 20px;
  position: relative;
  width: 100%;
}
