@font-face {
  font-family: 'Icons';
  src: url('/plugins/ahwaa/fonts/Icons.eot');
  src: url('/plugins/ahwaa/fonts/Icons.eot?#iefix') format('eot'),
    url('/plugins/ahwaa/fonts/Icons.woff') format('woff'),
    url('/plugins/ahwaa/fonts/Icons.ttf') format('truetype'),
    url('/plugins/ahwaa/fonts/Icons.svg#Icons') format('svg');
}

%icon {
  font-family: 'Icons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}

.icon::before {
  @extend %icon;
}

.icon-icn_01feather:before {
  content: '\E001';
}

.icon-icn_02search:before {
  content: '\E002';
}

.icon-icn_03heart:before {
  content: '\E003';
}

.icon-icn_04tick:before {
  content: '\E004';
}

.icon-icn_05posts:before {
  content: '\E005';
}

.icon-icn_06topics:before {
  content: '\E006';
}

.icon-icn_07advice:before {
  content: '\E007';
}

.icon-icn_08tag:before {
  content: '\E008';
}

.icon-icn_09story:before {
  content: '\E009';
}

.icon-icn_10question:before {
  content: '\E00A';
}

.icon-icn_11bubble:before {
  content: '\E00B';
}

.icon-icn_12smiley:before {
  content: '\E00C';
}

.icon-icn_13heart:before {
  content: '\E00D';
}

.icon-icn_14flag:before {
  content: '\E00E';
}

.icon-icn_15bin:before {
  content: '\E00F';
}

.icon-icn_16star:before {
  content: '\E010';
}

.icon-icn_17lock:before {
  content: '\E011';
}

.icon-icn_18plus:before {
  content: '\E012';
}

.icon-icn_19bubbles:before {
  content: '\E013';
}

.icon-icn_20persontick:before {
  content: '\E014';
}

.icon-icn_21avatar:before {
  content: '\E015';
}

.icon-icn_22message:before {
  content: '\E016';
}

.icon-icn_23error:before {
  content: '\E017';
}

.icon-icn_24tag:before {
  content: '\E018';
}

.icon-icn_25computerquestion:before {
  content: '\E019';
}

.icon-icn_26peopleadd:before {
  content: '\E01A';
}

.icon-icn_27paperclip:before {
  content: '\E01B';
}

.icon-icn_28share:before {
  content: '\E01C';
}

.icon-icn_29inbox:before {
  content: '\E01D';
}

.icon-icn_30bookmark:before {
  content: '\E01E';
}

.icon-icn_31flagfilled:before {
  content: '\E01F';
}

.icon-icn_32heartfilled:before {
  content: '\E020';
}

.icon-icn_33hamburger:before {
  content: '\E021';
}

.icon-icn_34backarrow:before {
  content: '\E022';
}

.icon-icn_35fullsize:before {
  content: '\E023';
}

.icon-icn_36close:before {
  content: '\E024';
}

.icon-icn_37shield:before {
  content: '\E025';
}

.icon-icn_38chat:before {
  content: '\E026';
}

.icon-icn_39wrench:before {
  content: '\E027';
}
