%custom-container-styles {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1400px;

  // Common padding-left and padding-right for container
  @include fluid(padding-left, grid("handheld"), grid("hd-plus"), 15px, 40px);
  @include fluid(padding-right, grid("handheld"), grid("hd-plus"), 15px, 40px);
}

%custom-narrow-container-styles {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

:root {
  // Apply background to root in order to avoid weird visuals when body is collapsed
  background-color: #f7f8fb;

  // notification badges within topics
  .badge-notification.new-posts,
  .badge-notification.unread-posts {
    background-color: color("accent-light");
  }

  body {
    // this will prevent Discourse background from being applied and overlap the one set by us at :root
    background: transparent;
  }

  // prevent scroll on some states of the app
  &.category-bar-toggled {
    overflow: hidden;
  }

  // NOTE: the below styles are very generic and will profundly affect the whole style of the page. Please, explicit describe each of the rules
  .container {
    // overcome not only bootstrap grid but also Discourse rule for .container
    width: 100%;
    max-width: none;
  }

  // add top padding to allow the fixed header
  // special class used by discourse within the #main-outlet element that wraps the whole content
  #main-outlet.wrap {
    max-width: none;
    padding: 0;
    padding-top: 130px;

    @media (max-width: grid("mobile-max-width")) {
      padding: 65px 0 0 0;
    }
  }

  // make sure all the alerts take the whole width otherwise will look odd
  .alert {
    text-align: center;
    width: 100%;
  }

  // The initial separation of the content within the #main-outlet is customized according to the design
  // we need to keep in mind to have the same container rule for all root containers so the content will be aligned
  #main-outlet .full-width,
  .hero--home .full-width,
  .topic-main-wrapper,
  #main-footer {
    @extend %custom-container-styles;
  }

  // Some containers within the platform need to be narrowed as a way to easily keep the layout and aesthetics
  .search-container {
    @extend %custom-narrow-container-styles;
  }

  // as Discourse by default doesn't follow all the bootstrap structure and we are replacing templates using bootstrap we need to make sure that
  // widow rows doesn't apply any negative margins
  .container.posts > .row,
  .post-stream .topic-post article .row,
  .search-container .search.row {
    margin: 0;
  }

  // the application.hbs file defines the first container as the one with the alerts about things like bootstrap mode and create topic message
  body #main-outlet > .container:first-child {
    .alert {
      margin: 0;
    }
  }
}

// In order to do not overwrite a whole template to add some classes and modify minimal styles we use helper classes on root to target edge cases
.sidebar-is-enabled {
  body[class*="archetype"] {
    @include alert-with-sidebar;
  }

  &.user-is-logged-in {
    body.navigation-topics {
      @include alert-with-sidebar;
    }
  }
}

// As by default teh Discourse platform uses font-awesome we will instead change some of them for our own
.fa {
  &.fa-smile-o::before {
    @extend %icon;
    content: "\E00C";
  }

  &.fa-link::before {
    @extend %icon;
    content: "\E01C";
  }

  &.fa-bookmark::before {
    @extend %icon;
    content: "\E01E";
  }

  &.fa-trash-o::before {
    @extend %icon;
    content: "\E00F";
  }

  &.fa-heart-o::before {
    @extend %icon;
    content: "\E00D";
  }

  &.fa-heart::before {
    @extend %icon;
    content: "\E020";
  }

  &.fa-flag::before {
    @extend %icon;
    content: "\E00E";
  }

  &.fa-users::before {
    @extend %icon;
    content: "\E01A";
  }

  &.fa-reply::before {
    @extend %icon;
    content: "\E00B";
  }

  &.fa-wrench::before {
    @extend %icon;
    content: "\E027";
  }
}
