.admin-contents.admin-users.admin-user {
  border-radius: 3px;
  border: 1px solid color("catskill-white");
  margin: 0;

  .display-row,
  hr,
  h1 {
    border-color: color("catskill-white");
  }
}
