:root {
  .admin-controls {
    background: color("lavander");
  }

  .admin-controls .nav.nav-pills li,
  .nav.nav-pills li {
    &.active a {
      background-color: color("accent-light");
    }
  }

  .admin-controls .nav.nav-pills li.active a:hover,
  .nav-pills > li > a:hover {
    background-color: rgba(color("accent-light"), 0.25);
    color: color("accent-light");
  }
}
