#topic.topic-area,
body:not(.archetype-private_message) #suggested-topics {
  width: 100%;
}

body:not(.archetype-private_message) #suggested-topics {
  > h3:first-of-type {
    @include med;
    font-size: 22px;
    margin-bottom: 23px;
  }
}

.topic-post + article.placeholder {
  // just to avoid the inner row gets off
  padding-left: 15px;
  padding-right: 15px;
}
