@import 'icons';
@import 'type';

html {
  height: 100%;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

:lang(ar) body {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'Nassim', sans-serif;
  line-height: 1.4;
  color: #4f4e5b;
}

body {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Graphik Web', 'HelveticaNeue-Light', 'Helvetica Neue Light',
    'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  line-height: 1.4;
  color: #4f4e5b;
}
