// Base
$white: #fff !default;
$black: #000 !default;

// Colors
$colors: (
  "accent-dark": #5156b3,
  "accent-light": #9359d8,
  "alabaster": #fafafc,
  "aluminium": #87868f,
  "blackish": #1f1e24,
  "bookmarked-color": #bf214b,
  "catskill-white": #f1f3f9,
  "free-speech-blue": #435cc2,
  "grey-med": #87878f,
  "lavander-gray": #c5c7d1,
  "mischka": #cfd4da,
  "mobster": #5b5d64,
  "mulled-wine": #4f4e5b,
  "mystic": #e1e5f2,
  "raven": #6d747d,
  "river-bed": #5b5d64,
  "steel-grey": #221b35,
  "white-lilac": #f7f8fb,
  "lavander": #e3e8f6
);

// Color function
@function color($color, $map: $colors) {
  @if (map-has-key($map, $color)) {
    @return map-get($map, $color);
  }

  @error "color `#{$color}` is missing";
}

// Primary Color
$color_1: color("mulled-wine");

// Rainbow colors for colored border
$rainbow-colors: (
  "red": #37a0ee,
  "orange": #f6b420,
  "yellow": #fed104,
  "green": #87e071,
  "blue": #37a0ee,
  "indigo": #1f3969,
  "violet": #8034ac
);

// Z-map
// https://github.com/discourse/discourse/blob/master/app/assets/stylesheets/common/foundation/variables.scss#L61-L84

// Timing & Easing
$timing: 0.3s;

$ease-std: ease-in-out;

// Responsive Breakpoints
// --------------------------------------------------

$grid-bootstrap: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$grid-custom: (
  smallest-handheld: 350px,
  handheld: 480px,
  tablet-horizontal: 1024px,
  mobile-max-width: 1279px,
  desktop-min-width: 1280px,
  hd: 1366px,
  wxga-plus: 1440px,
  hd-plus: 1600px,
  container: 1340px
);

$grid-breakpoints: map-merge($grid-bootstrap, $grid-custom);

@function grid($breakpoint, $map: $grid-breakpoints) {
  @if (map-has-key($map, $breakpoint)) {
    @return map-get($map, $breakpoint);
  }

  @error "Breakpoint `#{$breakpoint}` is missing";
}

// Plugin helpers variables
// --------------------------------------------------

// this does not include the category bar within the header
$size--header-height: 60px;

// use this for containers that are surround by a sidebar
$size--content-with-sidebar: 910px;
