// NOTE: for short lines it may be convenient to set $fade-width around ~15%
@mixin clamp-text($lines, $line-height: 1.2, $fade-width: 30%) {
  $block-height: $line-height * $lines;

  @if $lines > 1 {
    // the extra .15 is in order to avoid to crop some letters like "g"
    $block-height: $line-height * $lines * 1.15;
  }

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  line-height: $line-height;
  max-height: unquote("#{$block-height}em");

  @-moz-document url-prefix() {
    position: relative;

    &::after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: $fade-width;
      height: unquote("#{$line-height}em");
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1) 50%
      );
    }
  }
}

.clamp-text-1 {
  display: block;
  @include clamp-text(1);
}

/*
 * This code has been exported as it is from the work done by https://humaan.com/
 */

@mixin fluid($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media screen and (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(
        #{$min-value} +
          #{strip-unit($max-value - $min-value)} *
          (100vw - #{$min-vw}) /
          #{strip-unit($max-vw - $min-vw)}
      );
    }
  }

  @media screen and (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px !important;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

.u-vis-hide,
.ui-hidden {
  @include hide();
}

.hidden-xs-down {
  @media (max-width: 544px) {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px !important;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
  }
}

.hidden-sm-down {
  @media (max-width: 767px) {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px !important;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
  }
}

// REM font size with px fallback
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 1) + px;
  font-size: ($sizeValue / 10) + rem;
}

@mixin icons() {
  font-family: "Icons";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin avoid-select-text {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;

  &::selection {
    background: transparent;
  }

  &::-moz-selection {
    background: transparent;
  }
}

@mixin breakpoint($min: 0, $max: 0, $side: "width") {
  // check to see if first variable is string or number
  $type: type-of($min);
  $sideType: type-of($side);

  // if it's a number, check if min, max or both are required.
  // then check if the values of $side are correctly spelt 'width' or 'height'
  // write new breakpoint using these boundaries.
  // default to 'all' if nothing specified.
  @if $type == number and $sideType == string {
    @if $side == "width" or $side == "height" {
      $query: "all" !default;
      @if $min != 0 and $max != 0 {
        $query: "(min-#{$side}: #{$min}) and (max-#{$side}: #{$max})";
      } // set both min and max
      @else if $min != 0 and $max == 0 {
        $query: "(min-#{$side}: #{$min})";
      } // set just min
      @else if $min == 0 and $max != 0 {
        $query: "(max-#{$side}: #{$max})";
      } // set just max
      @media #{$query} {
        @content;
      }
    }
  }
}
