// in case of use this within a pseudo element remember `content: ''`
@mixin rainbow-border {
  background-image: linear-gradient(
    269deg,
    map-get($rainbow-colors, "red") 0%,
    map-get($rainbow-colors, "orange") 16%,
    map-get($rainbow-colors, "yellow") 32%,
    map-get($rainbow-colors, "green") 49%,
    map-get($rainbow-colors, "blue") 66%,
    map-get($rainbow-colors, "indigo") 81%,
    map-get($rainbow-colors, "violet") 100%
  );
  height: 5px;
  position: relative;
  width: 100%;
  z-index: z("base");
}

@mixin rainbow-background {
  background-image: linear-gradient(
    269deg,
    map-get($rainbow-colors, "red") 0%,
    map-get($rainbow-colors, "orange") 16%,
    map-get($rainbow-colors, "yellow") 32%,
    map-get($rainbow-colors, "green") 49%,
    map-get($rainbow-colors, "blue") 66%,
    map-get($rainbow-colors, "indigo") 81%,
    map-get($rainbow-colors, "violet") 100%
  );
}

@mixin decorative-separator {
  background: rgba(151, 151, 151, 0.2);
  content: "";
  height: 15px;
  left: 0;
  position: absolute;
  top: calc(50% - 7px);
  width: 1px;
}

// NOTE: this is used as a way to standarize the area that has a sidebar on the right hand
// make sure this styles are applied for `min-width: grid('mobile-max-width')` and 100% width for mobile
@mixin content-area-with-right-sidebar {
  float: left;
  max-width: 100%;
  width: $size--content-with-sidebar;
}

// use this to target spaces where the alerts need to be aware of the sidebar
@mixin alert-with-sidebar {
  #main-outlet > .container:first-child {
    margin-left: 0;
    margin-right: auto;
    @include sidebar-sibling-content-responsive-styles;

    @media (max-width: grid("mobile-max-width")) {
      padding-right: 15px;
    }
  }
}

@mixin sidebar-responsive-styles {
  @media (max-width: grid("mobile-max-width")) {
    display: none;
  }

  @media (max-width: grid("hd") - 1) {
    // save some space for screens between mobile-max-width and hd
    padding: 20px 15px 20px 25px;
    width: 270px;
  }
}

@mixin sidebar-sibling-content-responsive-styles($extra-space: 0px) {
  @media (min-width: grid("desktop-min-width")) {
    width: calc(100% - #{270px + $extra-space});
  }

  @media (min-width: grid("hd")) {
    width: calc(100% - #{380px + $extra-space});
  }

  @media (min-width: 1920px) {
    // we will let the list-area growth for very large screens
    width: calc(100% - #{150px + $extra-space});
  }
}
