// Type defaults
// --------------------------------------------------

/*
        This font software is the property of Commercial Type.

        You may not modify the font software, use it on another website, or install it on a computer.

        License information is available at http://commercialtype.com/eula
        For more information please visit Commercial Type at http://commercialtype.com or email us at info[at]commercialtype.com

        Copyright (C) 2018 Schwartzco Inc.
        License: 1802-YPNYSG
*/

@font-face {
  font-family: 'Graphik Web';
  src: url('/plugins/ahwaa/fonts/Graphik-Semibold-Web.eot');
  src: url('/plugins/ahwaa/fonts/Graphik-Semibold-Web.eot?#iefix')
      format('embedded-opentype'),
    url('/plugins/ahwaa/fonts/Graphik-Semibold-Web.woff2') format('woff2'),
    url('/plugins/ahwaa/fonts/Graphik-Semibold-Web.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

.Graphik-Semibold-Web {
  font-family: 'Graphik Web';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('/plugins/ahwaa/fonts/Graphik-Medium-Web.eot');
  src: url('/plugins/ahwaa/fonts/Graphik-Medium-Web.eot?#iefix')
      format('embedded-opentype'),
    url('/plugins/ahwaa/fonts/Graphik-Medium-Web.woff2') format('woff2'),
    url('/plugins/ahwaa/fonts/Graphik-Medium-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

.Graphik-Medium-Web {
  font-family: 'Graphik Web';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('/plugins/ahwaa/fonts/Graphik-RegularItalic-Web.eot');
  src: url('/plugins/ahwaa/fonts/Graphik-RegularItalic-Web.eot?#iefix')
      format('embedded-opentype'),
    url('/plugins/ahwaa/fonts/Graphik-RegularItalic-Web.woff2') format('woff2'),
    url('/plugins/ahwaa/fonts/Graphik-RegularItalic-Web.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

.Graphik-RegularItalic-Web {
  font-family: 'Graphik Web';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('/plugins/ahwaa/fonts/Graphik-Regular-Web.eot');
  src: url('/plugins/ahwaa/fonts/Graphik-Regular-Web.eot?#iefix')
      format('embedded-opentype'),
    url('/plugins/ahwaa/fonts/Graphik-Regular-Web.woff2') format('woff2'),
    url('/plugins/ahwaa/fonts/Graphik-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

.Graphik-Regular-Web {
  font-family: 'Graphik Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

// Arabic addition
// --------------------------------------------------

@font-face {
  font-family: 'Nassim';
  src: url('/plugins/ahwaa/fonts/NassimArabicWeb-Bd.woff2') format('woff2'),
    url('/plugins/ahwaa/fonts/NassimArabicWeb-Bd.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Nassim';
  src: url('/plugins/ahwaa/fonts/NassimArabicWeb-Rg.woff2') format('woff2'),
    url('/plugins/ahwaa/fonts/NassimArabicWeb-Rg.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

// Font weights
// --------------------------------------------------

@mixin light() {
  font-weight: 300;
}
@mixin reg() {
  font-weight: 400;
}
@mixin ita() {
  font-weight: 400;
  font-style: italic;
}
@mixin med() {
  font-weight: 500;
}
@mixin sbold() {
  font-weight: 600;
}
@mixin bold() {
  font-weight: 700;
}

// Type Scale
// --------------------------------------------------

html:root {
  // font-size: 6.25%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html:root,
:root body {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Headings and paragraphs
// --------------------------------------------------

:root {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: normal;
  }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    font-weight: inherit;
  }
}

// General type
// --------------------------------------------------

:root {
  p {
    margin: 0;
    + p {
      margin: 25px 0 0;
    }
  }

  strong {
    @include bold;
  }

  em {
    @include ita;
  }
}

// Links
// --------------------------------------------------

:root {
  a {
    text-decoration: none;
    outline: 0;
    transition: color $timing linear;

    &:hover,
    &:focus {
    }
  }
}

.skip-to-link {
  position: fixed;
  top: 10px;
  left: 10px;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  color: #fff;
  background: $color_1;
  opacity: 0;
  text-decoration: none;
  transition: all $timing $ease-std;
  z-index: 99;
  outline: none;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  padding: 10px 16px;

  &:focus {
    overflow: visible;
    width: auto;
    height: auto;
    color: #fff;
    opacity: 1;
    clip: auto;
    white-space: normal;
    outline: none;
  }

  &:hover {
    background: darken($color_1, 10%);
  }
}
