body:not(.archetype-private_message) #suggested-topics {
  $suggested-topic-cards-height: 260px;

  .content--topic-list {
    display: flex;
    justify-content: space-between;

    // WARNING: this will allow only to render 4 items for the related topics section
    .topic-list-item:nth-child(n + 5) {
      display: none;
    }
  }

  .topic-statuses {
    // WARNING: this will hide statuses on suggested topics for better aesthetic matters within this context
    display: none;
  }

  .topic-list-item {
    width: calc(25% - 10px);
  }

  .suggested-topic {
    height: $suggested-topic-cards-height;
    padding: 30px 15px 24px;
    text-align: center;
    max-width: 100%;

    &__inner-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
    }
  }

  .topic-card__title {
    @include clamp-text(2, 1.4, 15%);
    @include med;
    font-size: 14px;
    margin: 15px auto 0 !important;
  }

  .topic-card__posters {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .topic-card__author {
    img {
      height: 70px;
      width: 70px;
    }
  }
}

@media (max-width: 768px) {
  body:not(.archetype-private_message) #suggested-topics {
    .content--topic-list {
      display: block;
    }

    .topic-list-item {
      float: left;
      width: calc(50% - 5px);

      &:nth-child(2n) {
        margin-left: 10px;
      }
    }
  }
}
