.topic-post .topic-map {
  margin-top: 0;
  background-color: #fdfdfd;
  margin-bottom: 15px;

  .topic-map-expanded {
    border-top: 0;
  }

  .information.toggle-summary > div {
    margin-bottom: 15px;
  }

  .map ul {
    display: none;
  }

  .links a {
    @include clamp-text(1, 1.4);
    display: block;
  }
}

.topic-post .customized-topic-map .topic-map {
  background: transparent;
  border: none;
  left: $size--post-stream-pad-lg;
  margin: 0;
  position: absolute;
  top: 0;

  .map {
    border: none;

    .avatar {
      margin: 0;
    }

    .buttons {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 35px;
      width: 60px;

      li {
        float: none;
        text-align: center;

        i,
        .number {
          color: #c4c7d1;
        }

        .icon {
          font-size: 1.4em;
        }

        .icon-icn_20persontick {
          // to overcome visual correction of horizontal centering
          margin-left: 7px;
        }

        .number {
          display: block;
          font-size: 11px;
        }
      }

      .topic-map-post.created-at {
        margin: 0;

        .relative-date {
          display: none;
        }
      }
    }
  }
}

.topic-map:not(.customized) {
  border: none;
  margin-top: -15px;
  position: relative;
  background: transparent;
  border-left: 0;

  .topic-map-expanded {
    & + .information.private-message-map {
      background: #f9f9f9;
      border-top: 0;
      border-left: 1px solid #e9e9e9;
      border-right: 1px solid #e9e9e9;
      border-bottom: 1px solid #e9e9e9;
    }
  }

  .map {
    border-top: 0;

    &.map-collapsed {
      > nav.buttons button {
        background: transparent;
        border-color: transparent;

        &::after {
          display: none;
        }
      }

      & + .information.private-message-map {
        display: none;
      }
    }

    > nav.buttons button {
      border-right: 1px solid #e9e9e9;
      padding: 0 10px;
      // we will be able to place the button on one side of the post actions without pointer issues
      height: 53px;
      position: absolute;
      right: 0;
      top: -53px;

      // in order to remove a part of the below panel border
      &::after {
        background: #f9f9f9;
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 1px;
      }

      i {
        color: #c4c7d1;
        // subtle smaller than its siblings icons due to the shape
        font-size: 16px;
        position: relative;
        top: 2px;
      }
    }

    .buttons button {
      border-top: 1px solid #e9e9e9;
    }
  }

  .topic-map-expanded,
  .toggle-summary {
    background: #f9f9f9;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    margin-left: -($size--avatar-author + $size--post-stream-pad-sm);
  }

  .topic-map-expanded {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 10px;
  }

  .toggle-summary {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 5px;
  }
}

@media (max-width: grid("mobile-max-width")) {
  .topic-post .topic-map {
    margin-bottom: 5px;

    .toggle-summary {
      margin-bottom: 15px;
    }
  }

  .topic-post .customized-topic-map .topic-map {
    left: 0;
  }

  .topic-map:not(.customized) {
    margin-top: -5px;
  }

  .topic-map:not(.customized) .topic-map-expanded,
  .topic-map:not(.customized) .toggle-summary {
    margin-left: 10px;
  }
}

@media (max-width: 700px) {
  #post_1 {
    .topic-map:not(.customized) {
      display: none;
    }
  }
}
