// styles for replies to a post within a topic
.post-stream .topic-post .embedded-posts {
  border: 1px solid #e4e7ef;
  border-top: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #f1f3f9;
  margin: 0;
  margin-left: -110px + (-($size--avatar-author - $size--avatar-poster)/2); // ~ left gutter + avatar size + avatar right margin
  margin-right: -$size--post-stream-pad-lg;
  padding: ($size--post-stream-pad-lg * 0.5);

  &.top {
    border: 1px solid #e4e7ef;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 0;
  }

  .reply {
    background-color: $white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    .row {
      display: flex;
      padding: ($size--post-stream-pad-lg * 0.75) $size--post-stream-pad-lg
        $size--post-stream-pad-lg;
    }
  }

  .topic-avatar,
  .topic-body {
    border: none;
    padding: 0;
  }

  .topic-body {
    .cooked {
      margin-bottom: 0;
    }
  }

  .topic-avatar {
    margin-left: 0;
    height: 45px;
  }

  .topic-meta-data .post-link-arrow {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (max-width: grid("mobile-max-width")) {
  .post-stream .topic-post .embedded-posts {
    margin-left: -90px + (-($size--avatar-author - $size--avatar-poster)/2);
    margin-right: -$size--post-stream-pad-sm;
    padding: ($size--post-stream-pad-sm * 0.5);
  }

  .reply {
    .row {
      padding: ($size--post-stream-pad-sm * 0.75) $size--post-stream-pad-sm
        $size--post-stream-pad-sm;
    }
  }
}
