.topic-body .post-menu-area {
  border-top: 1px solid #f1f3f9;
  margin-bottom: 0;
  margin-left: -110px + (-($size--avatar-author - $size--avatar-poster)/2);
  margin-right: -$size--post-stream-pad-lg;
  margin-top: 100px;
  padding: 20px $size--post-stream-pad-lg 20px 0;

  // there is a weird negative space below the icons that makes the text on its side look off, so this snippet is to overcome that within buttons
  :root & {
    .d-icon + .d-button-label,
    i + .d-button-label {
      position: relative;
      top: -2px;
    }
  }

  .who-liked {
    @include med;
    font-size: 11px;
    color: color("lavander-gray");

    .trigger-user-card:last-of-type {
      margin-right: 10px;
    }
  }

  .post-controls {
    // 10px extra to being able to align with icons below the author avatar
    padding-left: $size--post-stream-pad-lg +
      ($size--post-menu-area-actions-pad);

    .show-replies + .actions {
      // just enought to fit the .show-replies
      margin-right: 82px;
    }

    .show-replies {
      font-size: 13px;
      position: absolute;
      // in order to overcome the padding and visually align to the right edge
      right: $size--post-stream-pad-lg - ($size--post-menu-area-actions-pad);
      top: 21px;
      height: 32px;
    }

    .actions {
      float: none;
      display: flex;
      flex-wrap: wrap;

      .d-icon {
        font-size: 18px;
      }

      button {
        color: color("lavander-gray");

        &:hover {
          color: color("accent-dark");
        }
      }

      .widget-button.reply {
        margin-left: 0;
        order: 1;
        opacity: 1;

        .d-icon {
          display: block;
          margin: 0;

          &::before {
            display: inline-block;
            margin: 0;
          }
        }
      }

      > *:not(.widget-button) {
        // prevent any other action to be before the reply
        order: 2;
      }

      .like-button,
      .widget-button {
        .d-button-label {
          color: color("mulled-wine");
          display: inline-flex;
          margin-left: ($size--post-menu-area-actions-pad);
          // NOTE: FF leave some odd space if we do not set text-align: left explicit
          text-align: left;

          &::first-letter {
            text-transform: uppercase;
          }
        }
      }

      .like-button {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        line-height: 1;
        order: 2;

        .d-button-label {
          // get same as the siblings buttons check topic-post.scss:172 from Discourse styling
          font-size: 1.1487em;
          padding-right: ($size--post-menu-area-actions-pad);
        }

        .like-count {
          margin-left: -($size--post-menu-area-actions-pad);
          margin-right: 0px;
          position: relative;
        }
      }

      .widget-button {
        align-items: center;
        display: flex;
        order: 2;

        &.reply {
          order: 1;
        }

        &.edit {
          order: 2;
        }

        &.toggle-like {
          order: 3;
        }

        &.share {
          order: 4;
        }

        // NOTE: we are disabling this button using JS
        &.show-more-actions {
          display: none;
        }

        // after click .show-more-actions
        &.show-post-admin-menu {
          order: 6;

          .d-button-label {
            display: none;
          }
        }

        &.bookmark {
          order: 7;
        }

        &.delete {
          order: 9;

          &:hover {
            .d-icon,
            .d-button-label {
              color: $white;
            }
          }
        }

        &.create-flag {
          order: 10;

          #post_1 & {
            margin-right: $size--post-stream-pad-lg;
          }
        }

        // all icons after the one pushed to the right will follow
        &.bookmark {
          margin-left: auto;
        }
      }
    }
  }
}

#post_1 {
  // NOTE: this code is only useful as the JS for edit topic change so when the usr click edit title it will open the composer
  .post-menu-area .widget-button.edit {
    display: none;
  }
}

// NOTE: add extra margin only if there is a reaction present (this margin is always applied for topic title)
.topic-body .post-retort + .post-menu-area {
  margin-top: 109px;
}

@media (max-width: grid("mobile-max-width")) {
  .topic-body .post-menu-area {
    margin-left: -90px + (-($size--avatar-author - $size--avatar-poster)/2);
    margin-right: -$size--post-stream-pad-sm;
    margin-top: 75px;
    padding: ($size--post-stream-pad-sm * 0.5) $size--post-stream-pad-sm
      ($size--post-stream-pad-sm * 0.5) 0;

    .post-controls {
      // space extra to being able to align with icons below the author avatar
      padding-left: $size--post-stream-pad-sm +
        ($size--post-menu-area-actions-pad);
    }
  }

  .topic-body .post-menu-area .post-controls .show-replies {
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 12px;
  }
}

@media (max-width: grid("lg")) {
  .topic-body .post-menu-area .post-controls .like-button .d-button-label,
  .topic-body
    .post-menu-area
    .post-controls
    .widget-button:not(.reply):not(.show-replies)
    .d-button-label {
    display: none;
  }
}

@media (max-width: 700px) {
  :root {
    #post_1 {
      .show-more-actions {
        margin-right: 0;
      }

      .who-liked {
        padding-right: 0;
      }

      .create-flag {
        padding-right: ($size--post-menu-area-actions-pad);
      }
    }

    .who-liked {
      padding: 0;
      float: right;
      display: inline-block;
      margin-top: 15px;
    }
  }

  #post_1
    .topic-body
    .post-menu-area
    .post-controls
    .actions
    .widget-button.create-flag {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  // NOTE: This rule should be applied to the last controls rendered to keep the icon visually on the right edge
  .topic-body
    .post-menu-area
    .post-controls
    .actions
    .widget-button.create-flag,
  .topic-body .post-menu-area .post-controls .actions .show-more-actions,
  #post_1
    .topic-body
    .post-menu-area
    .post-controls
    .actions
    .show-more-actions,
  #post_1
    .topic-body
    .post-menu-area
    .post-controls
    .actions
    .widget-button.create-flag {
    margin-right: -($size--post-menu-area-actions-pad);
  }

  .topic-body .post-menu-area .post-controls .show-replies {
    display: none;
  }

  .topic-body .post-menu-area .post-controls .show-replies + .actions {
    margin-right: 0;
  }
}

@media (max-width: 400px) {
  .topic-body
    .post-menu-area
    .post-controls
    .actions
    .widget-button.show-post-admin-menu {
    order: 7;
  }

  .show-more-actions {
    position: absolute;
    right: 0;
  }
}

@media (max-width: grid("handheld")) {
  .topic-post .topic-body .post-menu-area .post-controls {
    padding-left: $size--post-stream-pad-sm;
  }

  .topic-post article:not(#post_1) .actions {
    margin-left: -($size--post-menu-area-actions-pad);
  }
}
