.topic-area {
  .topic-footer-main-buttons {
    display: flex;
    align-items: center;

    #topic-footer-buttons & .combobox {
      margin-bottom: 0;
    }
  }
}

#topic-footer-buttons .bookmark.bookmarked .d-icon-bookmark {
  color: color("bookmarked-color");
}

.d-icon.d-icon-d-tracking,
.d-icon.d-icon-d-watching {
  color: color("accent-dark");
}

#topic-footer-buttons {
  $icon-color: color("accent-dark");
  $btn-space: 10px;

  :root:not(.mobile-view) & {
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: z("timeline");

    .btn-primary.create {
      order: 1;
    }

    .topic-footer-main-buttons {
      display: flex;
      flex-direction: column;
      order: 2;

      .d-button-label {
        display: none;
      }
    }

    .topic-notifications-button {
      margin-top: 0;
      margin-bottom: $btn-space;

      .select-kit.dropdown-select-box
        .dropdown-select-box-header:hover
        .d-icon {
        color: $icon-color;
      }

      .d-button-label,
      .reason {
        display: none;
      }

      .d-icon {
        margin: 0 auto !important;
      }
    }

    .btn.dropdown-select-box-header {
      margin-bottom: 0;
    }

    .pinned-button {
      margin-top: 0;
      margin-bottom: $btn-space;

      .reason {
        display: none;
      }

      .d-icon {
        color: $icon-color;
        margin: 0 auto !important;
      }
    }
  }

  &.docked {
    position: fixed !important;
  }

  .btn:not(.create),
  .btn:not(.create).widget-button {
    background-color: $white;
    color: $icon-color;
  }

  .btn,
  .btn.widget-button {
    :root:not(.mobile-view) & {
      border-radius: 100%;
      // box-shadow: 0 0 1px rgba(0, 0, 0, 0.11), 0 1px 2px rgba(0, 0, 0, 0.22);
      border: 1px solid color("catskill-white");
      height: 40px;
      margin: 0 0 $btn-space;
      padding: 0;
      width: 40px;

      &:hover {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.13), 0 3px 6px rgba(0, 0, 0, 0.26);
      }

      &.create {
        background-color: color("accent-dark");
        color: $white;
      }

      i,
      .d-icon,
      .icon {
        margin: 0;
        opacity: 1;
      }
    }
  }

  .btn-primary.btn.create {
    border: none;
  }
}

// NOTE: this is needed in order to be able to locate the topic-footer-buttons as expected
.topic-main-wrapper > * {
  position: relative;
}

:root #topic-title,
:root .topic-main-wrapper .container.posts {
  // we need to ensure that this rules are apllied for logged in or logged out users
  width: 100%;
  float: none;
}

:root .topic-footer-buttons-customized #topic-footer-buttons {
  display: none;
}

@media (min-width: grid("tablet-horizontal")) {
  // NOTE: in order to render properly the buttons we need to move the content to one side
  :root #topic-title,
  :root .topic-main-wrapper .container.posts {
    width: calc(100% - 70px);
    float: right;
  }

  :root .topic-footer-buttons-customized #topic-footer-buttons {
    display: flex;
  }
}

@media (max-width: 400px) {
  .topic-area {
    #topic-footer-buttons .topic-footer-main-buttons {
      flex-direction: column;

      .btn-primary.create,
      .combobox {
        margin-right: 0;
        width: 100%;
      }
    }
  }
}
