:root .post-retort {
  align-items: center;
  background: none;
  border: none;
  display: flex;

  &__count {
    @include med;
    background-color: color('catskill-white');
    border-radius: 20.5px;
    bottom: 0;
    font-size: 12px;
    left: 0;
    margin-left: 6px;
    padding: 9px 20px;
    position: relative;
    text-indent: -2px;
    top: 0;

    &::after,
    &::before {
      text-indent: 0;
    }

    &::after {
      background-color: $white;
      border-radius: 100%;
      box-shadow: 0px 0px 2px rgba(#000, 0.2);
      content: '';
      display: block;
      height: 20px;
      position: absolute;
      right: -8px;
      top: 6px;
      width: 20px;
    }

    &::before {
      color: #c0c5d4;
      content: '+';
      display: block;
      font-size: 16px;
      font-weight: 100;
      position: absolute;
      right: -3px;
      top: 6px;
      z-index: z('base');

      @-moz-document url-prefix() {
        // NOTE: to avoid this we mush use custom icons instead
        top: 7px;
      }
    }
  }
}
