#topic-title {
  border: 1px solid color("catskill-white");
  border-bottom: 0;
  // we need to merge this element with the first post of the stream
  margin: 0;
  padding-top: 0;

  h1 a {
    @include med;
    color: $color_1;
    font-size: 18px;
  }
}

.topic-header {
  background-color: $white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 0;
  padding: $size--post-stream-pad-lg $size--post-stream-pad-lg 0
    $size--post-stream-pad-lg;
  width: 100%;

  .avatar-placeholder {
    background-color: $white;
    height: 60px;
    width: 60px;
  }

  &__col {
    display: flex;
    align-items: center;
  }

  .topic-title-wrapper {
    // to fix the visually negative space of the title and better vertical centering of the vaatr and the title
    position: relative;
    top: -3px;
  }

  .topic-avatar-wrapper {
    margin-right: 30px;
  }
}

// WARNING: This will remove some of the elements and add styles specifics for the first post (which contains what is assumed the content of the topic)
.post-stream {
  .topic-post:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .topic-meta-data,
    .topic-avatar {
      display: none;
    }

    .topic-body {
      padding-top: 0;
      // ~ padding global + avatar size + avatar margin-right
      padding-left: $size--post-stream-pad-lg + 60px + 30px;

      .topic-map:not(.customized) {
        display: block;

        .map nav.buttons {
          pointer-events: all;
        }
      }
    }

    .regular.contents {
      margin-top: 33px;
    }

    .post-menu-area {
      margin-left: -130px;

      .post-controls {
        // 10px extra to being able to align with icons below the author avatar
        padding-left: $size--post-stream-pad-lg + 10px;
      }
    }
  }
}

@media (max-width: grid("mobile-max-width")) {
  .post-stream .topic-post:first-of-type {
    padding-left: $size--post-stream-pad-sm;

    .customized-topic-map .topic-map .map ul {
      top: 15px;
    }

    .topic-body {
      padding-left: 0;
    }

    .post-menu-area {
      margin-left: -($size--post-stream-pad-sm);
      padding-left: ($size--post-stream-pad-sm)/2;

      .post-controls {
        padding-left: 0;
      }
    }

    .regular.contents {
      margin-top: 33px;

      .cooked,
      .retort-wrapper {
        // NOTE: this will give us the space we need for the content identation
        margin-left: 90px;
      }

      .post-menu-area {
        // 10px extra to being able to align with icons below the author avatar
        padding-left: $size--post-stream-pad-sm + 10px;
      }
    }
  }

  .topic-header {
    padding: $size--post-stream-pad-sm $size--post-stream-pad-sm 0
      $size--post-stream-pad-sm;
  }
}

@media (max-width: grid("handheld")) {
  .post-stream .topic-post:first-of-type .regular.contents .post-menu-area {
    // substract the 10px padding of each icon so we preserve more space
    padding-left: $size--post-stream-pad-sm - 10px;
  }
}
