.topic-post .topic-meta-data {
  > .names {
    float: none;
  }

  // WARNING: this will remove the date of post publication from being visible
  .post-date {
    display: none;
  }

  > .reply-to-tab {
    float: none;

    .reply-username {
      margin-left: 5px;
      @include med;
    }
  }
}

.topic-metadata {
  font-size: 14px;

  .metadata__username {
    @include med;
    color: #87878f;
  }

  .topic-category {
    display: inline;
  }
}
