:root.mobile-view #topic-title h1 {
  width: 100%;
}

.topic-main-wrapper-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 14px;

  .topic-categories-wrapper {
    // remove the square with category color
    .badge-category-bg {
      display: none;
    }

    // overcome visual effect to vertical center the tag icon
    .icon-tag {
      position: relative;
      top: 3px;
    }
  }
}

.back-to-stream {
  display: inline-block;
  margin: 0;

  i {
    color: color("accent-dark");
    display: inline-block;
    font-size: 10px;
    margin-right: 7px;
    position: relative;
    top: -1px;
    vertical-align: middle;
  }

  &,
  &:active,
  &:visited {
    color: #4f4e5b;
  }

  &:hover {
    color: darken(#4f4e5b, 20%);
  }
}

// reset paddings for inner containers
#topic-title .container,
.container.posts {
  padding: 0;
}

.post-stream .gap,
.post-stream .time-gap {
  margin-bottom: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  max-width: 100%;
}

.post-stream .topic-post:first-of-type {
  border-top: 0;
}

.post-stream .topic-post {
  background-color: $white;
  border: 1px solid color("catskill-white");
  border-radius: 3px;
  margin-bottom: 20px;
  padding-right: $size--post-stream-pad-lg;

  .topic-avatar,
  .topic-body {
    border-top: 0;
    padding: 30px 0 0;
  }

  .topic-avatar {
    margin-left: $size--post-stream-pad-lg;
    margin-right: 25px;
    // 45px from image size + 30px pad
    height: 75px;
    position: relative;
  }

  .topic-body {
    flex: 1;
    width: auto;
    max-width: 100%;
  }

  .cooked {
    margin-bottom: 37px;
  }

  .post-actions {
    margin: 0;
  }
}

#topic .topic-status-info,
#topic-title .title-wrapper,
.posts-wrapper {
  max-width: none;
  margin: 0;
  width: 100%;
}

// the ~ rule will help us to apply the styles only if the sidebar exists
.sidebar ~ .regular {
  width: calc(100% - 380px);
  float: left;

  #topic-title > .container:first-of-type,
  > .container.posts {
    padding-right: 60px;
  }
}

// Animation :hover to display extra post-actions
:root.desktop-view .topic-post {
  .post-controls .actions {
    .bookmark,
    .delete,
    .create-flag {
      opacity: 0;
      transition: opacity $timing $ease-std;
    }
  }
}

:root.desktop-view #topic-title:hover + .container.posts #topic,
:root.desktop-view .topic-post:hover {
  .post-controls .actions {
    .bookmark,
    .delete,
    .create-flag {
      opacity: 1;
    }
  }
}

.post-stream .topic-post:not(:first-of-type) {
  // difference of author avatar (65px) and replies avatar (45px) / 2 ~> 15/2 = 7.5
  padding-left: ($size--avatar-author - $size--avatar-poster)/2;

  .topic-meta-data,
  .cooked,
  .post-retort:first-of-type {
    margin-left: 13px;
  }
}

// NOTE: This is needed in order to leave space for sidebarblocks
.topic-main-wrapper {
  .sidebar {
    background: $white;
    float: right;
    height: 100vw;
    width: 380px;
  }
}

// WARNING: This will remove the timeline from being visible
.container.posts .timeline-container {
  display: none;
}

// WARNING: This will visually remove the topic-progress folation tool in its mobile version
#topic-progress-wrapper {
  display: none;
}

@media (max-width: grid("mobile-max-width")) {
  .post-stream .topic-post {
    padding-right: $size--post-stream-pad-sm;

    .topic-avatar {
      margin-left: $size--post-stream-pad-sm;
    }
  }
}
