.private_message {
  .title-wrapper {
    .private-message-glyph {
      position: relative;
      top: 6px;
    }
  }

  .post-stream .topic-post:first-of-type .regular.contents {
    margin-top: 0;

    .cooked {
      min-height: 60px;
    }
  }
}

@media (max-width: grid('mobile-max-width')) {
  .private_message {
    .post-stream .topic-post:first-of-type .regular.contents {
      .cooked {
        min-height: 0;
      }
    }
  }
}
