/*
 * Settings
 * - some values found below are references to spaces of built-in code at discourse
 *   in order to make the layout code more readable, keep in mind that change those variables
 *   may not affect all elements or code built-in.
 */
$size--post-stream-pad-lg: 40px;
$size--post-stream-pad-sm: 20px;
$size--avatar-author: 60px;
$size--avatar-poster: 45px;
$size--post-menu-area-actions-pad: 10px;

/*
 * Tools
 */

/*
 * Layouts
 */
@import "layouts--private-message";
@import "layouts--topic";

/*
 * Partials
 */

/*
 * Objects
 */

/*
 * Components
 */
@import "components--embedded-posts";
@import "components--post-menu-area";
@import "components--post-retort";
@import "components--topic-map";
@import "components--topic-meta-data";
@import "components--topic-title-card";
@import "components--topic-buttons";

/*
 * Mobile
 */
@import "./mobile/main";
